<!DOCTYPE html>
<html lang="ja">
    {{> dashboard-header}}
<body>
    {{> dashboard-nav}}
<!-- Template to List User Chats -->
<div class="container mt-5">
    <h2 class="mb-4">Chats for User {{userId}}</h2>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Chat</th>
                </tr>
            </thead>
            <tbody>
                {{#each chats}}
                <tr>
                    <td>{{this.name}}</td>
                    <td class="jp-d">{{this.updatedAt}}</td>
                    <td>
                        <a href="/chat/{{this._id}}" class="btn btn-secondary">
                            <i class="fas fa-external-link-alt"></i>
                        </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <a href="/admin/users" class="btn btn-secondary mt-3" id="back-to-users">Back to Users</a>
</div>
</body>
    {{> dashboard-footer}}
<script>
    $(document).ready(function() {

        function convertToJapaneseDate(dateString) {
            var options = { year: 'numeric', month: 'long', day: 'numeric', weekday: 'long' };
            var date = new Date(dateString);
            return date.toLocaleDateString('ja-JP', options);
        }

        $('.jp-d').each(function() {
            var originalDate = $(this).text();
            var japaneseDate = convertToJapaneseDate(originalDate);
            $(this).text(japaneseDate);
        });
    });

</script>