
<div id="chat-recommend" class="onchat-on px-4 text-white rounded d-flex align-items-center justify-content-start scroll-horizontal" style="min-height: 70px;padding: 15px 0px;overflow-x: auto;overflow-y: hidden;white-space: nowrap;">
    <div class="characters" style="display: flex;flex-direction: row;overflow-x: scroll;"></div>
</div>
