 <nav class="navbar navbar-expand-lg navbar-white bg-transparent shadow-0" style="min-height: 60px;">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-center m-auto">
            <div class="flex-row main-logo" style="display:flex;cursor:pointer" onclick="window.location='/'">
                <img src="/img/logo.webp" alt="" class="mx-3" width="40px">
                <span class="d-none">LAMIXボット</span>
            </div>  
            <div>
                <div class="navbar-collapse" id="navbarNav" style="position: absolute;right: 20px;top: 10px;">
                    <ul class="navbar-nav ms-auto flex-row mb-lg-0">
                        {{> dashboard-avatar}}
                    </ul>
                </div>
            </div>     
        </div>
    </div>
</nav>
<style>
    @media (max-width: 600px) {
        
        #navbarNav .navbar-nav{
            display: flex;
            flex-direction: revert;
            justify-content: space-between;
            padding-top: 1em;
        }
    }
</style>