<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="/js/dashboard.js"></script>
<!-- MDB -->
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.2/mdb.umd.min.js"
></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<footer class="l-footer p-footer">
    <div class="c-section-inner">
      <div class="p-footer__logo d-none">
        <a href="https://hatoltd.com/" target="_blank"><img src="/img/hato.png" alt=""></a>
      </div>
      <div class="p-footer-flex text-center">
        <p class="p-footer__leftText d-none">〒530-0001<br>
           大阪府大阪市北区梅田1丁目2番2号大阪駅前第2ビル12-12
        </p>
        <small class="p-footer__copyright w-100" translate="no" lang="en">
          Copyright ©2024 HATO,LTD. All Rights Reserved.
        </small>
      </div>
    </div>
  </footer>