<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="/js/dashboard.js"></script>
<!-- MDB -->
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.2/mdb.umd.min.js"
></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>
$(document).ready(function(){
    // Initialize user info from the Handlebars variable
    const user = {
        _id: "{{user._id}}",
        isTemporary: "{{user.isTemporary}}",
    };
    if(user.isTemporary == true){

    }else{
        updatePlanStatus(user)
    }
})

window.updatePlanStatus = function(user){
  $.get('/user/plan/'+user._id,function(data){
      let message = `<a href="/my-plan" class="fw-bold plan-text" style="font-size: 12px;text-decoration: navajowhite;">無料プラン <span class="ms-1">&#x1F381;</span></a>`;
      if(!data.plan){
        $('.user-current-plan').each(function(){
          $(this).html(message).show()
        })
        return
      }
      const billingCycle = data.plan.billingCycle
      const currentPlanId = data.plan.currentPlanId
      $.get('/plan/list',function(data){
          const plans = data.plans
          const plan = plans.find((plan) => plan[`${billingCycle}ly_id`] === currentPlanId);
          switch (plan.id) {
            case 'free':
              message = `<a href="/my-plan" class="fw-bold me-1 plan-text" style="font-size: 12px;text-decoration: navajowhite;">${plan.name} <span class="ms-1">&#x1F381;</span></a>`;
              break;
            case 'premium':
              message = `<a href="/my-plan"  class="fw-bold me-1 plan-text" style="font-size: 12px;text-decoration: navajowhite;">${plan.name}<span class="ms-1"> &#x1F48E;</span></a>`;
              break;
            case 'special':
              message = `<a href="/my-plan"  class="fw-bold me-1 plan-text" style="font-size: 12px;text-decoration: navajowhite;">${plan.name} <span class="ms-1">&#x1F525;</span></a>`;
              break;
            default:
              message = `<a href="/my-plan"  class="fw-bold me-1 plan-text" style="font-size: 12px;text-decoration: navajowhite;">${plan.name}</a>`;
          }
          $('.user-current-plan').each(function(){
            $(this).html(message).show()
          })
      })
  })
}
</script>
<footer class="l-footer p-footer bg-white shadow-0 text-center py-3 onchat-off">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-light shadow-0 py-0">
          <div class="container-fluid justify-content-center">
            <ul class="navbar-nav d-flex flex-row">
              <li class="nav-item m-1">
                <a class="nav-link" href="/about" target="_blank" lang="ja">サービスについて</a>
              </li>
              <li class="nav-item m-1">
                <a class="nav-link" href="https://hatoltd.com/" target="_blank" lang="ja">会社概要</a>
              </li>
              <li class="nav-item m-1">
                <a class="nav-link" href="https://hatoltd.com/articles/" target="_blank" lang="ja">ブログ</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-light shadow-0 py-0">
          <div class="container-fluid justify-content-center">
            <small class="p-footer__copyright" translate="no" lang="en">
              Copyright ©2024 <a href="https://hatoltd.com/" target="_blank">HATO,LTD.</a> All Rights Reserved.
            </small>
          </div>
        </nav>
      </div>
    </div>
  </div>
</footer>
