 <nav class="navbar navbar-expand-lg navbar-white bg-transparent shadow-0">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-center m-auto">
            <div class="d-flex flex-row" style="cursor:pointer" onclick="window.location='/'">
                <img src="/img/logo.webp" alt="" class="mx-3" width="40px">
                <span class="d-none">LAMIXボット</span>
            </div>  
            <div>
                <div class="navbar-collapse" id="navbarNav" style="position: absolute;right: 20px;top: 10px;">
                    <ul class="navbar-nav ms-auto mb-lg-0">
                        <li class="nav-item dropdown">
                            {{> dashboard-avatar}}
                        </li>
                    </ul>
                </div>
            </div>     
        </div>
    </div>
</nav>
<style>

        .u-color-grad {
            background: linear-gradient(90.9deg, rgba(110, 32, 244, 0.5) 2.74%, #6E20F4 102.92%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            margin-right: 6px;
            letter-spacing: 0;
            font-size: 26px;
            line-height: 1;
        }
        .avatar{
            object-fit: cover;
            object-position: top;
            width: 32px;
        }
    @media (max-width: 600px) {
        
        #navbarNav .navbar-nav{
            display: flex;
            flex-direction: revert;
            justify-content: space-between;
            padding-top: 1em;
        }
    }
    
</style>