<footer class="l-footer p-footer">
    <div class="c-section-inner">
      <div class="p-footer__logo d-none">
        <a href="https://hatoltd.com/" target="_blank"><img src="/img/hato.png" alt=""></a>
      </div>
      <div class="p-footer-flex text-center">
        <p class="p-footer__leftText d-none">〒530-0001<br>
           大阪府大阪市北区梅田1丁目2番2号大阪駅前第2ビル12-12
        </p>
        <small class="p-footer__copyright w-100" translate="no" lang="en">
          Copyright ©2024 HATO,LTD. All Rights Reserved.
        </small>
      </div>
    </div>
  </footer>