 <nav class="navbar navbar-expand-lg navbar-white bg-white">
     <div class="container-fluid">
        <a class="navbar-brand d-flex flex-row" href="/dashboard">
            <img src="/img/logo.webp" alt="" class="mx-3" width="40px">
            <span class="u-font-manrope u-color-grad">Lamix</span>
        </a>
        <!-- Avatar -->
        <div class="nav-item dropdown mx-2">
            {{> dashboard-avatar}}
        </div>
    </div>
</nav>
<style>

        .u-color-grad {
            background: linear-gradient(90.9deg, rgba(110, 32, 244, 0.5) 2.74%, #6E20F4 102.92%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            margin-right: 6px;
            letter-spacing: 0;
            font-size: 26px;
            line-height: 1;
        }
        .avatar{
            object-fit: cover;
            object-position: top;
            width: 32px;
        }
    @media (max-width: 600px) {
        
        #navbarNav .navbar-nav{
            display: flex;
            flex-direction: revert;
            justify-content: space-between;
            padding-top: 1em;
        }
    }
    
</style>