 <nav class="navbar navbar-expand-lg navbar-white bg-white">
     <div class="container-fluid">
        <a class="navbar-brand d-flex flex-row" href="/dashboard">
            <img src="/img/logo.webp" alt="" class="mx-3" width="40px">
            LAMIXボット
        </a>
        <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">ダッシュボード</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/chat-list">チャットボット一覧</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/chat/edit/">新規作成</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">設定</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">{{user.username}}</a>
                </li>
                <li class="nav-item">
                    <a id="logout" class="nav-link" href="#"><i class="fas fa-sign-out-alt"></i> ログアウト</a>
                </li>
            </ul>
        </div>
     </div>

    </nav>