 <nav class="navbar navbar-expand-lg navbar-white bg-white">
     <div class="container-fluid">
        <a class="navbar-brand d-flex flex-row" href="/dashboard">
            <img src="/img/logo.webp" alt="" class="mx-3" width="40px">
            AIフレンズ
        </a>
        <!-- Avatar -->
        <div class="nav-item dropdown mx-2">
            {{> dashboard-avatar}}
        </div>
    </div>
</nav>
<style>

        .avatar{
            object-fit: cover;
            object-position: top;
            width: 32px;
        }
    @media (max-width: 600px) {
        
        #navbarNav .navbar-nav{
            display: flex;
            flex-direction: revert;
            justify-content: space-between;
            padding-top: 1em;
        }
    }
    
</style>