<!DOCTYPE html>
<html lang="ja">
       {{> dashboard-header}}
<body>
    {{> dashboard-nav}}

<div class="container my-5">
    {{#if user.isTemporary}}
    {{else}}
        <section id="chat-discovery" class="onchat-off sticky-top mb-2" style="display: block;padding-top: 65px;">
            <div id="chatbot-category" class="row px-3 mx-0 scroll-horizontal"></div>
        </section>
        <section class="w-100 p-0 onchat-off">
            <h4 class="px-4">キャラクターライブラリー</h4>
            <p class="text-muted px-4" style="font-size: 12px;">好きなキャラクターを選び、最新の生成AI技術でカスタマイズしましょう。私たちのライブラリーにはたくさんのキャラクターが揃っており、あなたのファンタジーに合わせたストーリーを作成して、自由にチャットを楽しむことができます。自分だけの世界を創り上げ、キャラクターとの対話を通じて新たな物語を体験してください。</p>
            <h5 id="chatbot-checkpoint-name" class="p-3 pb-1 mb-0 d-none" style="font-size: 12px;"></h5>
            <div id="chatbot-library" class="chat-container row px-3 mx-0 mt-3" style="min-height:10px"></div>
            <div id="chatbot-loading" class="text-center p-5" style="display: none;">
                <div class="spinner-border spinner-border-md" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </section>
    {{/if}}
    <section class="w-100 px-4 py-2">
        <h4>トップチャット</h4>
        <div class="scroll-container d-flex justify-content-between  py-4" id="button-container"></div>
    </section>
    <section class="w-100 px-4 py-2">
        <h4>カテゴリー</h4>
        <div id="category-container" class="category-container"></div>
    </section>
    <section class="w-100 px-4 py-2">
        <div class="container d-flex py-5 px-3 justify-content-center align-items-center">
            <div id="cardGrid" class="row"></div>
        </div>
    </section>
    <section class="w-100 px-4 py-2">
        <h4>人気チャット</h4>
        <div class="row d-flex justify-content-start">
            <div id="chatbot-container" class="container my-4 row"></div>
        </div>
    </section>
</div>
 {{> dashboard-footer}}


</body>
</html>
