<!DOCTYPE html>
<html lang="ja">
       {{> dashboard-header}}
<body>
    {{> dashboard-nav}}

<div class="container my-5">
    <section class="w-100 px-4 py-2">
        <h4>トップチャット</h4>
        <div class="scroll-container d-flex justify-content-between  py-4" id="button-container"></div>
    </section>
    <section class="w-100 px-4 py-2">
        <h4>カテゴリー</h4>
        <div id="category-container" class="category-container"></div>
    </section>
    <section class="w-100 px-4 py-2">
        <div class="container d-flex py-5 px-3 justify-content-center align-items-center">
            <div id="cardGrid" class="row"></div>
        </div>
    </section>
    <section class="w-100 px-4 py-2">
        <h4>人気チャット</h4>
        <div class="row d-flex justify-content-start">
            <div id="chatbot-container" class="container my-4 row"></div>
        </div>
    </section>
</div>
 {{> dashboard-footer}}


</body>
</html>
