<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="icon" href="/img/logo.webp" type="image/webp">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <link rel="stylesheet" href="/css/chat.css">
</head>
<body>
    <nav class="navbar navbar-light bg-transparent py-1 sticky-top" style="border-bottom: 1px solid rgba(210, 184, 255, 0.2);">
    <div class="container-fluid justify-content-between">
        <a class="navbar-brand d-flex flex-row align-items-center bg-white px-5 py-2" href="/chat-index">
        <img src="/img/logo.webp" alt="" class="logo">
        <span class="brand-name ms-3">LAMIX</span>
        </a>
        <a href="/authenticate" class="btn px-4 py-2 border" style="border-radius:40px;background: linear-gradient(90.9deg, rgba(247, 243, 255, 0.5) 2.74%, #B894F9 102.92%);"><i class="fas fa-plus me-2"></i>作成する</a>
    </div>
    </nav>

    <section class="hero bg-light py-5 p-fv" style="background-position:bottom!important">
        <div class="container text-center d-flex flex-column align-items-center py-5">
            <img src="/img/logo.webp" alt="LAMIXボット ロゴ" class="mb-4" style="width: 150px;border-radius:50%;">
            <div>
                <h1>LAMIXチャットボットであなたのウェブサイトを革新。</h1>
                <p id="chat-hero" class="text-center" style="min-height: 50px;"></p>
                <a href="/authenticate" class="btn btn-dark btn-lg px-5 py-3 m-5">無料で試す<i class="mx-2 fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </section>
    <section>
        <div class="d-flex py-5 justify-content-center align-items-center">
            <div id="lamix-chat-widget" data-id="667771e469055b40a22b9c20"></div><script src="https://lamix.hatoltd.com/js/chat-widget.js"></script>
        </div>
    </section>
    <section class="p-best mb-5">
      <div class="c-section-inner">
        <h2 class="c-section-title u-tal">
          未来への一歩は、<br>
          <span class="u-font-manrope u-color-grad">Lamix</span>から始まる！
          <div class="p-best-illust">
            <span><img src="/img/robot.png" alt="" class="u-rocketman" style="max-width: 30vw;"></span>
          </div>
        </h2>
        <ul class="p-best__lists" style="list-style: none;padding: 0;">
            <li class="p-best__list u-border-grad">
                <div class="p-best__listInner u-border-grad--bg">
                    <div class="p-best__title--flex">
                        <img src="/img/icon03.svg" alt="">
                        <h3 class="p-best__title"><span class="u-color-grad">作成</span><span class="p-best__title--sub">簡単なチャットボット作成</span></h3>
                    </div>
                    <p class="p-best__text">
                        LAMIXを使えば、指示を入力するだけでチャットボットを作成できます。プラットフォームは、ウェブサイトデータを統合することを含め、あらゆるテーマのチャットボットを生成することが可能です。ユーザーエンゲージメントと満足度を向上させる新しいレベルのインタラクションを体験してください。
                    </p>
                </div>
            </li>

            <li class="p-best__list u-border-grad">
                <div class="p-best__listInner u-border-grad--bg">
                    <div class="p-best__title--flex">
                        <img src="/img/icon03.svg" alt="">
                        <h3 class="p-best__title"><span class="u-color-grad">統合</span><span class="p-best__title--sub">シームレスな埋め込み</span></h3>
                    </div>
                    <p class="p-best__text">
                        チャットボットをウェブサイト、ブログ、または任意のオンラインプラットフォームに簡単に埋め込むことができます。LAMIXは、チャットボットを迅速に稼働させるための効率的なプロセスを提供し、訪問者と動的にエンゲージし、サイトのSEOを改善する新しい方法を提供します。
                    </p>
                </div>
            </li>
            <li class="p-best__list u-border-grad">
                <div class="p-best__listInner u-border-grad--bg">
                    <div class="p-best__title--flex">
                        <img src="/img/icon03.svg" alt="">
                        <h3 class="p-best__title"><span class="u-color-grad">管理</span><span class="p-best__title--sub">ダッシュボードで監視</span></h3>
                    </div>
                    <p class="p-best__text">
                        包括的なダッシュボードでチャットボットのパフォーマンスを監視しましょう。会話数を追跡し、チャットのやり取りをレビューし、オーディエンスエンゲージメント戦略を最適化するための貴重な洞察を得ることができます。
                    </p>
                </div>
            </li>
        </ul>
        <div class="text-center mt-4">
          <a href="/authenticate" class="btn btn-gradient-radius btn-large px-5 py-3 m-auto w-100" style="font-size: 21px;"><span>無料で試す<i class="mx-2 fas fa-arrow-circle-right"></i></span></a>
        </div>
      </div>
    </section>
 {{> dashboard-footer}}
<script>
$(document).ready(function() {


    function appendHeadlineCharacterByCharacter($element, headline, callback) {
        let index = 0;

        setTimeout(() => {
            setTimeout(() => {
                let intervalID = setInterval(function() {
                    if (index < headline.length) {
                        $element.append(headline.charAt(index));
                        index++;
                    } else {
                        clearInterval(intervalID);
                        if (callback) callback();
                    }
                }, 25);
            }, 100);
        }, 500);
    };

    function clearContentFromEnd($element, callback) {
        let currentContent = $element.text();

        let clearIntervalID = setInterval(function() {
            if (currentContent.length > 0) {
                currentContent = currentContent.substring(0, currentContent.length - 1);
                $element.text(currentContent);
            } else {
                clearInterval(clearIntervalID);
                if (typeof callback === 'function') {
                    callback();
                }
            }
        }, 25); // This duration can be adjusted as per your requirement
    }

    let catchphrases = [
        'あなたのカスタムチャットボットを簡単に管理',
        'LAMIXボットでチャットボットの可能性を最大限に',
        '直感的なダッシュボードで管理が楽々',
        'リアルタイムでチャットボットの状態を監視',
        'ビジネスを次のレベルへ'
    ];

    let index = 0;

    function displayNextCatchphrase() {
        appendHeadlineCharacterByCharacter($('#chat-hero'), catchphrases[index], function() {
            setTimeout(function() {
                clearContentFromEnd($('#chat-hero'), function() {
                    index = (index + 1) % catchphrases.length;
                    displayNextCatchphrase();
                });
            }, 3000);
        });
    }

    displayNextCatchphrase();
    
});

</script>
</body>
</html>
