<!DOCTYPE html>
<html lang="ja">
    {{> dashboard-header}}
<body>
    {{> dashboard-nav}}
    <style>
        .choice-container {
            text-wrap: nowrap;
            overflow: auto;
            padding: 15px 0px;
        }
        #chat-container {
            flex: 1;
            display: flex;
            flex-direction: column;
        }
        .card-header, .card-footer {
            flex-shrink: 0;
        }
        .card-body {
            flex-grow: 1;
            overflow-y: auto;
            position: relative;
        }
        .btn-flat-border {
            display: inline-block;
            padding: 0.3em 1em;
            text-decoration: none;
            color: #742af4;
            border: solid 2px #b58df9;
            border-radius: 3px;
            transition: .4s;
            margin-right: 5px;
            margin-left: 5px;
            font-size: 18px;;
        }
        
        .btn-flat-border:hover {
            background: #742af4;
            color: white;
        }
        #messages {
            padding: 10px;
            padding-bottom: 100px;
            border-radius: 5px;
            z-index: 1;
        }
        #chatInput {
            position: absolute;
            bottom: 0;
            width: 100%;
            right: 0;
            left: 0;
            background: white;
            z-index: 1000;
            padding: 10px;
            border-top: 1px solid #ccc;
        }
    </style>
    <div class="container mt-4">
        <div id="chat-container" class="card my-5">
            <div class="d-flex justify-content-between card-header text-center bg-dark text-white">
                <div>LAMIXチャット</div>
                <div class="d-flex align-items-center">
                    <div class="count me-2"></div><i class="fas fa-comment"></i>
                </div>
            </div>
            <div class="card-body text-center py-5 shadow" style="min-height:250px;height: 75vh;overflow-y: auto;">
                <h5 class="card-title d-none">Card Title</h5>
                <div id="chatContainer" class="pb-5">
                </div>
                <div id="chatInput" class="input-group rounded-0 rounded-bottom bg-white" style="position: absolute;bottom: 0;left: 0;right: 0;padding: 0px 15px 25px 15px;">
                    <input type="text" id="userMessage" class="form-control py-3 border" placeholder="メッセージを入力してください">
                    <button id="sendMessage" class="btn btn-light px-4 border"><i class="fas fa-paper-plane"></i></button>
                </div>
            </div>
            <div class="card-footer text-muted text-center d-none">
                フッターコンテンツ
            </div>
        </div>
    </div>
 {{> dashboard-footer}}
<script src="/js/chat.js"></script>
</body>
</html>
