<!DOCTYPE html>
<html lang="ja">
    {{> dashboard-header}}
<body>
    {{> dashboard-nav}}

    <style>
        .choice-container {
            text-wrap: nowrap;
            overflow: auto;
            padding: 15px 0px;
        }
    </style>
    <div class="container mt-4">
        <div id="chat-container" class="card my-5">
            <div class="d-flex justify-content-between card-header text-center bg-dark text-white">
                <div>LAMIXチャット</div>
                <div class="d-flex align-items-center">
                    <div class="count me-2"></div><i class="fas fa-comment"></i>
                </div>
            </div>
            <div class="card-body text-center py-5 shadow" style="min-height:250px;height: 75vh;overflow-y: auto;">
                <h5 class="card-title d-none">Card Title</h5>
                <div id="chatContainer" class="pb-5">
                </div>
                <div id="chatInput" class="input-group rounded-0 rounded-bottom bg-white" style="position: absolute;bottom: 0;left: 0;right: 0;padding: 0px 15px 25px 15px;">
                    <input type="text" id="userMessage" class="form-control py-3 border" placeholder="メッセージを入力してください">
                    <button id="sendMessage" class="btn btn-light px-4 border"><i class="fas fa-paper-plane"></i></button>
                </div>
            </div>
            <div class="card-footer text-muted text-center d-none">
                フッターコンテンツ
            </div>
        </div>
    </div>
 {{> dashboard-footer}}


<script src="/js/quiz.js"></script>
<script>
var userId
var userIp
$(document).ready(function() {
    // Function to hash the IP address to generate a unique ID
    function hashIP(ip) {
        let hash = 0, i, chr;
        if (ip.length === 0) return hash;
        for (i = 0; i < ip.length; i++) {
            chr = ip.charCodeAt(i);
            hash = ((hash << 5) - hash) + chr;
            hash |= 0; // Convert to 32bit integer
        }
        return hash;
    }

    // Function to fetch the user's IP address using an API
    function fetchUserIP(callback) {
        $.getJSON('https://api.ipify.org?format=json', function(data) {
            userIp = data.ip;
            userId = hashIP(userIp); 
            if (callback) {
                callback(userId,userIp); // Call the callback function with userID
            }
        });
    } 

    // Fetch the user's IP address and generate a unique ID
    fetchUserIP(function(new_userId,userIp) {
        // Now you can use the userID variable or id parameter here
        const chatId = "{{chatId}}";
        console.log({chatId})
        let messagesCount = 0 
        let currentStep = 0;
        let totalSteps = 0;
        let chatData = {};
        let feedback = false
        let thumbnail = false

        sendCustomData({action: 'viewpage'});
        fetchchatData(chatId); // Fetch the initial chat data when the page loads
        
        window.choosePath = function(choiceText) {
            currentStep++;
            console.log({choiceText,currentStep})
            hideOtherChoice(choiceText,currentStep,function(){
                updatechatContent(choiceText);
            })

            $.ajax({
                url: '/api/chat-data',
                type: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                data: JSON.stringify({ currentStep, message:choiceText, userIp: userIp, chatId:chatId }),
                success: function(response) {
                    
                },
                error: function(error) {
                    console.log(error.statusText);
                }
            });
        };
        window.sendMessage = function(customMessage,displayStatus = true) {
            currentStep ++
            messagesCount ++
            if(messagesCount >= 10){
                Swal.fire({
                    title: '注意',
                    text: '無料ユーザーのメッセージの最大数は1日10件です。',
                    icon: 'warning',
                    confirmButtonText: 'OK'
                });
                return
            }
            const message = customMessage || $('#userMessage').val();
            if (message.trim() !== '') {
                if(displayStatus){
                    displayMessage('user', message);
                }
                $('#userMessage').val(''); // Clear the input field

                // Send the message to the backend (to be implemented)
                $.ajax({
                    url: '/api/chat-data', // Backend endpoint to handle the message
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ currentStep:currentStep, message, userIp, chatId }),
                    success: function(response) {
                        const {userId, chatId } = response
                        generateCompletion(userId, chatId)
                    },
                    error: function(error) {
                        console.error('Error:', error);
                        displayMessage('bot', 'An error occurred while sending the message.');
                    }
                });
            }
        }
        $(document).on('click','#unlock-result',function(){

            sendCustomData({action:'unlock-result'})
            promptForEmail()
        })
        function fetchchatData(chatId) {
            $.ajax({
                url: `/api/chat/${chatId}`,
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    chatData = data.content.story;
                    totalSteps = Object.keys(chatData).length;
                    chatName = data.name
                    thumbnail = data.thumbnailUrl
                    $('h1').text(chatName)
                    displayStep(chatData, currentStep);
                },
                error: function(xhr, status, error) {
                    Swal.fire({
                        title: 'エラー!',
                        text: 'チャットの読み込みに失敗しました: ' + error,
                        icon: 'error',
                        confirmButtonText: 'Ok',
                        showCancelButton: true,
                        cancelButtonText: '一覧を見る'
                    }).then((result) => {
                        if (result.dismiss === Swal.DismissReason.cancel) {
                            window.location.href = '/chat-list';
                        }
                    });

                }
            });
        }

        function displayStep(chatData, currentStep) {
            const step = chatData[`step${currentStep + 1}`];
            //$(`.card-header .count`).text(`${currentStep + 1}/${totalSteps}`)
            $('#chatContainer').append(`
            <div id="container-${currentStep}">
                <div class="d-flex flex-row justify-content-start mb-4 message-container" style="opacity:0;">
                    <img src="${ thumbnail ? thumbnail : '/img/logo.webp' }" alt="avatar 1" class="rounded-circle" style="min-width: 45px; width: 45px; height: 45px; border-radius: 15%;object-fit: cover;">
                    <div id="message-${currentStep}" class="p-3 ms-3 text-start" style="border-radius: 15px;   background: linear-gradient(90.9deg, rgba(247, 243, 255, 0.5) 2.74%, #B894F9 102.92%);"></div>
                </div>
                <div id="response-${currentStep}" class="choice-container" ></div>
            </div>`)
            step.choices.forEach((choice, index) => {
                const button = $(`<button class="btn btn-flat-border my-2" onclick="choosePath('${choice.choiceText}')">${choice.choiceText}</button>`);
                button.css('opacity',0)
                $(`#response-${currentStep}`).append(button);
            });
            appendHeadlineCharacterByCharacter($(`#message-${currentStep}`), step.introduction,function(){
                $(`#response-${currentStep} button`).each(function(){
                    $(this).css('opacity',1)
                })
            })
        }

        function updatechatContent(choiceText) {
            const previousStep = chatData[`step${currentStep}`]; // Previous step where the choice was made

            $(`.card-header .count`).text(`${currentStep + 1}/${totalSteps}`)
            $('#chatContainer').append(`
            <div id="container-${currentStep}">

                <div class="d-flex flex-row justify-content-start mb-4 message-container" style="opacity:0;">
                    <img src="${ thumbnail ? thumbnail : '/img/logo.webp' }" alt="avatar 1" class="rounded-circle" style="min-width: 45px; width: 45px; height: 45px; border-radius: 15%;object-fit: cover;">
                    <div id="result-${currentStep - 1}" class="p-3 ms-3 text-start" style="border-radius: 15px;   background: linear-gradient(90.9deg, rgba(247, 243, 255, 0.5) 2.74%, #B894F9 102.92%);"></div>
                </div>
                
                <div class="d-flex flex-row justify-content-start mb-4 message-container" style="opacity:0;">
                    <img src="${ thumbnail ? thumbnail : '/img/logo.webp' }" alt="avatar 1" class="rounded-circle" style="min-width: 45px; width: 45px; height: 45px; border-radius: 15%;object-fit: cover;">
                    <div id="message-${currentStep}" class="p-3 ms-3 text-start" style="border-radius: 15px;   background: linear-gradient(90.9deg, rgba(247, 243, 255, 0.5) 2.74%, #B894F9 102.92%);"></div>
                </div>

                <div id="response-${currentStep}" class="choice-container" ></div>
            </div>`)

            if (currentStep < totalSteps) {
                const nextStep = chatData[`step${currentStep + 1}`];

                nextStep.choices.forEach(choice => {
                    const button = $(`<button class="btn btn-flat-border my-2" onclick="choosePath('${choice.choiceText}')">${choice.choiceText}</button>`)
                    button.css('opacity',0)
                    $(`#response-${currentStep}`).append(button);
                });

                const choice = previousStep.choices.find(c => c.choiceText === choiceText);
                $(`#result-${currentStep - 1}`).closest('.message-container').animate({ opacity: 1 }, 1000, function() { 
                    appendHeadlineCharacterByCharacter($(`#result-${currentStep - 1}`),choice.result,function(){
                        appendHeadlineCharacterByCharacter($(`#message-${currentStep}`), nextStep.introduction,function(){
                            $(`#response-${currentStep} button`).each(function(){
                                $(this).css('opacity',1)
                            })
                        });
                    })
                })
            }else{
                console.log({currentStep})
                const choice = previousStep.choices.find(c => c.choiceText === choiceText);
                $(`#result-${currentStep - 1}`).closest('.message-container').animate({ opacity: 1 }, 1000, function() { 
                    appendHeadlineCharacterByCharacter($(`#result-${currentStep - 1}`),choice.result,function(){
                        $(`#message-${currentStep}`).closest('.message-container').removeClass('d-flex').hide()
                        generateChoice()
                    })
                })
            }
        }

        function hideOtherChoice(choiceText, currentStep, callback) {

            $(`#response-${currentStep - 1} button`).each(function() {
                const currentChoice = $(this).text()
                if(choiceText == currentChoice){
                    const response = $(this).text()
                    $(`#response-${currentStep - 1}`).remove()
                    $(`#container-${currentStep - 1}`).append(`
                        <div class="d-flex flex-row justify-content-end mb-4 message-container" style="opacity:0;">
                            <div id="response-${currentStep - 1}" class="p-3 me-3 border" style="border-radius: 15px; background-color: #fbfbfb;">${response}</div>
                        </div>
                    `)
                }
                $(this).remove()
            });
            $(`#response-${currentStep - 1}`).closest('.message-container').animate({ opacity: 1 }, 1000,function(){
                if (callback) {callback()}
            })
        }

        function generateChoice(){
            const apiUrl = '/api/openai-chat-choice/'

            $.ajax({
                url: apiUrl,
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ chatId: chatId }),
                success: function(response) {
                    const cleanResponse = cleanJsonArray(response)

                    cleanResponse.forEach(choice => {
                        const button = $(`<button class="btn btn-flat-border my-2" onclick="sendMessage('${choice}')">${choice}</button>`)
                        $(`#response-${currentStep}`).append(button);
                    });
                },
                error: function(error) {
                    console.error('Error:', error);
                }
            });
        }
        function cleanJsonArray(jsonString) {
            // Remove all characters before the first '{'
            let start = jsonString.indexOf('[');
            if (start !== -1) {
                jsonString = jsonString.substring(start);
            }

            // Remove all characters after the last '}'
            let end = jsonString.lastIndexOf(']');
            if (end !== -1) {
                jsonString = jsonString.substring(0, end + 1);
            }

            return JSON.parse(jsonString);
        }
        
        function generateCompletion($element){
            
            const apiUrl = '/api/openai-chat-completion';
  
            $.ajax({
                url: apiUrl,
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ chatId: chatId }),
                success: function(response) {
                    const sessionId = response.sessionId;
                    const streamUrl = `/api/openai-chat-completion-stream/${sessionId}`;
                    const eventSource = new EventSource(streamUrl);
                    let markdownContent = "";

                    if(!$element){
                        hideOtherChoice(false, currentStep)
                        // Initialize the bot response container
                        const botResponseContainer = $(`
                            <div id="container-${currentStep}">
                                <div class="d-flex flex-row justify-content-start mb-4 message-container">
                                    <img src="${ thumbnail ? thumbnail : '/img/logo.webp' }" alt="avatar 1" class="rounded-circle" style="min-width: 45px; width: 45px; height: 45px; border-radius: 15%;object-fit: cover;">
                                    <div id="completion-${currentStep}" class="p-3 ms-3 text-start" style="border-radius: 15px;   background: linear-gradient(90.9deg, rgba(247, 243, 255, 0.5) 2.74%, #B894F9 102.92%);"></div>
                                </div>
                                <div id="response-${currentStep}" class="choice-container" ></div>
                            </div>`);
                        $('#chatContainer').append(botResponseContainer);
                        $('#chatContainer').scrollTop($('#chatContainer')[0].scrollHeight);
                    }

                    eventSource.onmessage = function(event) {
                        const data = JSON.parse(event.data);
                        markdownContent += data.content;

                        if($element){
                            $element.removeClass('blur-text')
                            $element.html(marked.parse(markdownContent));
                        }else{
                            $(`#completion-${currentStep}`).html(marked.parse(markdownContent));
                        }

                    };

                    eventSource.onerror = function(error) {
                        console.log('EventSource failed.');
                        eventSource.close();
                        if(!$element){
                            generateChoice();
                        }
                    };
                },
                error: function(error) {
                    console.error('Error:', error);
                }
            });
        }

        // Event handler for the send button
        $('#sendMessage').on('click', function() {
            sendMessage();
        });

        // Event handler for the Enter key
        $('#userMessage').on('keypress', function(event) {
            if (event.which == 13) { // Enter key is pressed
                sendMessage();
            }
        });     

        // Function to display a message in the chat
        function displayMessage(sender, message) {
            const messageClass = sender === 'user' ? 'user-message' : 'bot-message';

            if(messageClass == 'user-message'){
                $('#chatContainer').append(`
                    <div class="d-flex flex-row justify-content-end mb-4 message-container ${messageClass}">
                        <div  class="p-3 me-3 border" style="border-radius: 15px; background-color: #fbfbfb;">
                            <span>${message}</span>
                        </div>
                    </div>
                `);
            }
            $('#chatContainer').scrollTop($('#chatContainer')[0].scrollHeight); // Scroll to the bottom
        }
        
        function sendCustomData(customData){
            $.ajax({
                url: '/api/custom-data',
                type: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                data: JSON.stringify({ userId: userId, customData: customData }),
                success: function(response) {
                    
                },
                error: function(error) {
                    console.log(error.statusText);
                }
            });
        }
        
        let maxScrollHeight = 0;
        let lastTriggeredHeight = 0;
        const viewportHeight = $(window).height();
        const updateInterval = viewportHeight * 0.05; // 5% of the viewport height

        function maxScroll() {
            const currentScrollHeight = $(window).scrollTop();
            const documentHeight = $(document).height();
            const windowHeight = $(window).height();
            const scrollPercentage = (currentScrollHeight / (documentHeight - windowHeight)) * 100;

            if (currentScrollHeight > maxScrollHeight) {
                maxScrollHeight = currentScrollHeight;
                if (Math.abs(currentScrollHeight - lastTriggeredHeight) >= updateInterval) {
                    sendCustomData({
                        action: 'scroll',
                        value: maxScrollHeight,
                        scrollPercentage: scrollPercentage.toFixed(2)
                    });
                    lastTriggeredHeight = currentScrollHeight;
                }
            }

 
        }

        $(window).on('scroll', function() {
            maxScroll();
        });
    });
});
</script>
</body>
</html>
