<!DOCTYPE html>
<html lang="ja">
       {{> dashboard-header}}
<body>
    {{> dashboard-nav}}
    <style>

        .custom-gradient-bg {
            background: linear-gradient(90.9deg, #D2B8FF 2.74%, #8240FF 102.92%);
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            transition: color 0.3s ease-in-out;
        }

        .custom-gradient-bg::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 300%;
            height: 300%;
            background: radial-gradient(circle, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 80%);
            transform: translate(-50%, -50%) scale(0);
            transition: transform 0.5s ease-in-out;
            z-index: 0;
        }

        .custom-gradient-bg:hover::before {
            transform: translate(-50%, -50%) scale(1);
        }

        .liked i{
          color:red;
        }
        .custom-gradient-bg:hover {
            color: #fff;
        }
        @media (max-width: 600px) {

        }
    </style>
<div class="px-0">

  <div class="swiper-container" style="overflow: hidden;">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="/img/banner1.png" alt="Banner 1" width="100%"></div>
      <div class="swiper-slide"><img src="/img/banner2.png" alt="Banner 2" width="100%"></div>
    </div>
  </div>

  <div class="container">   
     
    <div class="mb-5 mt-1">
        <section class="w-100 px-0 py-2 text-center">
            <img src="/img/logo.webp" alt="" class="mx-3 mb-3" width="75px">
            <span class="u-font-manrope u-color-grad">Lamix</span>は、
            <h3 class="fw-bold mb-1 px-3">AIキャラクターと<br>楽しくおしゃべりができる。</h3>
            <div class="d-flex px-3 justify-content-center">
                <button type="button" class="btn btn-sm custom-gradient-bg shadow-0 border-0 mb-1 mx-1 auto-gen">
                    <i class="fa fa-comment me-2"></i>
                    AIチャット
                </button>
                <button type="button" class="btn btn-sm custom-gradient-bg shadow-0 border-0 mb-1 mx-1 auto-gen">
                    <i class="fa fa-image me-2"></i>
                    AI画像
                </button>
                <button type="button" class="btn btn-sm custom-gradient-bg shadow-0 border-0 mb-1 mx-1 auto-gen">
                    <i class="fa fa-magic me-2"></i>
                    AI生成
                </button>
            </div>
            <p class="py-3 mb-1" style="color: #555;">
                Lamixでは、キャラクターとの会話がもっと楽しくなります！お気に入りのキャラクターが、AI技術で生成された魅力的な写真を会話中に送信してくれるだけでなく、特別なフォトアルバムも楽しめます。キャラクターの写真アルバムには、興味深いシーンがたくさん詰まっていて、まるで彼らの世界に飛び込んだかのような体験が待っています。Lamixで、カスタマイズ可能なキャラクターと共に、写真付きのユニークな会話を楽しんでみませんか？
            </p>
        </section>
    </div>
    <hr>
    <h3 class="my-4 text-start">AIグラビアから送られてくる特別な写真</h3>
    <p>LamixでAIグラビアとチャットしていると、会話の中で魅力的な写真が次々と送られてきます。AIグラビアが送ってくれる写真は、まるで彼らの世界を垣間見るかのような美しいシーンばかり。まさにその瞬間に引き込まれるような体験を楽しみながら、キャラクターとの特別なひとときをお楽しみください。</p>
    <div class="container mt-4">
      <div class="row" id="all-chats-images-gallery"></div>
    </div>
    <div class="w-100 text-center">
      <a href="/character" class="my-4 btn btn-lg text-white fw-bold custom-gradient-bg w-100">すべてを見る</a>
    </div>

    <h3>アクティブユーザー</h3>
    <div id="users-gallery" class="d-flex flex-wrap p-3"></div>
    <div class="w-100 text-center d-none">
        <a href="/users/" class="my-4 btn btn-lg text-white fw-bold custom-gradient-bg w-100">すべてを見る</a>
    </div>

    <h3 class="my-4 text-start">コミュニティからの最新のAIグラビア</h3>
    <p>Lamixでは、キャラクターとの会話がもっと楽しくなります！お気に入りのキャラクターが、AI技術で生成された魅力的な写真を会話中に送信してくれるだけでなく、特別なフォトアルバムも楽しめます。キャラクターの写真アルバムには、興味深いシーンがたくさん詰まっていて、まるで彼らの世界に飛び込んだかのような体験が待っています。Lamixで、カスタマイズ可能なキャラクターと共に、写真付きのユニークな会話を楽しんでみませんか？</p>
    <div id="chat-gallery" class="row"></div>
    <div class="w-100 text-center">
        <a href="/chat/" class="my-4 btn btn-lg text-white fw-bold custom-gradient-bg w-100">すべてを見る</a>
    </div>


    <h3 class="my-4 text-start">コミュニティからの最新投稿</h3>
    <p>Lamixでは、AIグラビアとのチャット中に生成された画像を使って、簡単に投稿を作成することができます。お気に入りの瞬間やクリエイティブな画像をシェアすることで、他のユーザーと楽しさを共有しましょう。画像を選んで投稿に追加するだけで、あなただけのオリジナルコンテンツを簡単に発信できます。</p>
    <div class="row" id="post-gallery"></div>
    <div class="w-100 text-center">
        <a href="/post" class="my-4 btn btn-lg text-white fw-bold custom-gradient-bg w-100">すべてを見る</a>
    </div>

  </div>
    

</div>
<style>
  footer{display: inline !important;}
</style>
 {{> dashboard-footer}}

 <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
 <script>
  $(document).ready(function () {
    new Swiper('.swiper-container', {
      loop: true,
      autoplay: true
    });
  });
</script>
<script>
  const userId = `{{{user._id}}}`;
  $(document).ready(function () {

    displayPepopleChat(1);
    loadAllChatImages(1);
    loadAllUserPosts(1)
    loadUsers(1)
    $(document).on('click', '.redirectToChat', function(){
      const chatId = $(this).data('id');
      window.location = `/chat/${chatId}`
    });

  });
</script>
<script>
  $(document).ready(function () {
    return
    $.ajax({
      url: '/api/user-generated-images',
      method: 'GET',
      success: function (data) {
        let galleryHtml = '';
        data.forEach(item => {
          galleryHtml += `
            <div class="col-6 col-md-4 col-lg-3">
              <div class="card">
                <div class="d-flex align-items-center p-2">
                  <a href="/user/${item.userId}">
                    <img src="${item.profilePicture}" alt="${item.userName}" class="rounded-circle me-2" width="40" height="40">
                  </a>
                  <a href="/user/${item.userId}" class="text-decoration-none text-dark">
                    <strong>${item.userName}</strong>
                  </a>
                </div>
                <a href="/chat/${item.chatId}" class="text-muted text-decoration-none">
                    <img src="${item.image.imageUrl}" alt="${item.image.prompt}" class="card-img-top">
                </a>
                <div class="card-body p-2">
                  <a href="/chat/${item.chatId}" class="text-muted text-decoration-none">${item.chatName}</a>
                  <span class="float-end post-fav" data-id="${item.image._id}">
                    <i class="bi bi-heart" style="cursor: pointer;"></i>
                  </span>
                </div>
              </div>
            </div>
          `;
        });
        $('#image-gallery').html(galleryHtml);
      },
      error: function (err) {
        console.error('Failed to load images', err);
      }
    });
  });
</script>


<style>
  .card {
    border: none;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .card-body {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .card img {
    border-radius: 0 0 10px 10px;
  }

  .rounded-circle {
    object-fit: cover;
  }
</style>
