<!DOCTYPE html>
<html lang="en">
   {{> dashboard-header}}
<body>
    {{> dashboard-nav}}

<section>
    <style>
    #intro {
        background-image: url('/img/lpbanner/{{bannerNumber}}.png');
        background-size: contain;
        background-position: right;
        min-height: 760px;
        display: flex;
        align-items: center;
    }

    @media (max-width: 768px) {
        #intro {
            background-image: none;
        }
    }
    </style>

    <div id="intro" class="bg-image shadow-0" >
        <div class="row container align-items-center h-100 m-auto">
            <div class="col-12 col-md-6 py-5">
                <h1 class="mb-3 fw-bold u-color-grad text-start" id="headline-container">
                </h1>
                <div class="text-start animate__animated"  data-animate="animate__fadeIn" id="subheadline-container">
                    {{translations.landing_page.banner.[bannerNumber].subtitle}}
                </div>
                <div class="text-center d-flex flex-column justify-content-start align-items-start mt-3 animate__animated"  data-animate="animate__fadeIn">
                    <a href="#" onclick="openLoginForm()" class="btn custom-gradient-bg text-white btn-lg m-2 px-5 py-3 mb-3 cta-button fw-bold" role="button" style="border-radius: 50px;">
                        {{translations.landing_page.cta_button}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    footer{display: inline !important;}
</style>
 {{> dashboard-footer}}
    <script>
        const headline = document.getElementById('headline-container');
        const subheadline = document.getElementById('subheadline-container');
        const bannerNumber = `{{bannerNumber}}`;
        const title = translations.landing_page.banner[bannerNumber].title;
        const subtitle = translations.landing_page.banner[bannerNumber].subtitle;

        headline.innerHTML = '<p>' + title + '</p>';
        subheadline.innerHTML = subtitle;
    </script>
</body>
</html>