<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="d-flex align-items-center justify-content-center min-vh-100" style="background: linear-gradient(135deg, #f8f9fa 0%, #e9ecef 100%);">
    
    <!-- Fullscreen overlay with loading spinner -->
    <div class="fullscreen-overlay justify-content-center align-items-center" id="loadingOverlay">
        <div style="position: relative; display: flex; justify-content: center; align-items: center;"> <!-- Wrapper for logo and spinner -->
            <div class="loading-circle shadow" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div style="z-index: 10;">
                <div class="brand-logo rounded-circle bg-white" style="width: 100px; height: 100px;background: white;">
                    <i class="bi bi-chat-heart-fill" style="font-size: 3em; color: #b58afe;"></i>
                </div>
            </div>
        </div>
    </div>

    <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
{{> dashboard-footer}}
</html>