@charset "utf-8";

#storyContainer {
  font-size: 18px;
}
.blur-text {
  color: transparent;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.83);
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.image-container img {
  position: initial;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  /* Add any additional styling for the content here */
}

.btn-flat-border {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #742af4;
    border: solid 2px #b58df9;
    border-radius: 3px;
    transition: .4s;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 18px;;
  }
  
  .btn-flat-border:hover {
    background: #742af4;
    color: white;
  }
  .btn-gradient-radius {
    display: inline-block;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #FFF;
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%) ;
    transition: .4s;
    font-size: 21px;
  }
  
  .btn-gradient-radius:hover {
    background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%) ;
  }

  .btn-gradient-3d-orange {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 4px;
    color: #ffffff;
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%) !important;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #c58668;
    font-size: 21px;
    font-weight: 700;
  }
  
  .btn-gradient-3d-orange:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
  }
  
  .hero {
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 0;
    text-align: center;
    background-color: #8080800f;
}
.gradient-text {
  font-weight: bold;
  background: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.cta{
  padding: 50px;
  background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}
.highlight {
  font-size: 1.4em;
  color: #e74c3c;
  font-weight: bold;
}
.important {
  color: #2980b9;
  font-weight: bold;
}
.ctas {
  font-size: 1.6em;
  color: #27ae60;
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
}
.image-container {
  width: 100%; /* Adjust the width as needed */
  margin: auto; /* Centering the div */
  border: 2px solid #000; /* Optional border for visibility */
}
.image-container img {
  width: 100%; /* Makes the image fully occupy the div's width */
  height: auto; /* Keeps the image's aspect ratio */
}

/* Reset some default browser styles */

body {
  font-family: 'Noto Sans JP', sans-serif; /* Common Japanese font */
  line-height: 1.6;
  color: #333;
  padding: 1rem;
  margin: 0;
  padding: 0;
}

.navbar-brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.logo {
  border-radius: 10%;
  width: 50px;
}

.brand-name {
  font-size: 1.25rem; /* Adjust the size as needed */
}

/* Responsive styles for small screens */
@media (max-width: 600px) {
  .brand-name {
    font-size: 0.75em; /* Adjust the size as needed */
  }
  .logo {
    border-radius: 10%;
    width: 30px;
  }
  .btn-gradient-3d-orange{
    font-size: 14px;
  }
  .navbar-brand{
    padding: 5px 25px !important;
  }
  .p-fv-copy__bottom {
    font-size: 16px;
  }
}


/*--------------------------------------*
* foundation
*--------------------------------------*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
}

* {
  min-height: 0vw;
}


html {
  line-height: 1.6;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  color: #020034;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: normal;
  width: 100%;
  letter-spacing: 0.05em;
  position: relative;
  overflow-x: hidden;
}

img,
video,
object {
  max-width: 100%;
  height: auto;
  border: none;
  display: block;
}

video {
  aspect-ratio: 16 / 9;
}

a:hover {
  text-decoration: none;
  transition: ease-in .3s;
}

@media(min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}




/*--------------------------------------*
* layout
*--------------------------------------*/

.l-header {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid rgba(210, 184, 255, 0.2);
  z-index: 10;
}

.l-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
}

.l-header__inner img {
  width: 100%;
  max-width: 178px;
}

.l-header .c-button {
  box-shadow: unset;
}

@media screen and (max-width: 767px) {
  .l-header__inner {
    padding: 8px;
    gap: 8px;
  }

  .l-header__inner img {
    max-width: 128px;
  }

  .l-header__inner>a {
    width: 128px;
  }

  .l-header__inner .c-button-wrapper {
    width: 223px;
    flex: 1;
  }

  .l-header__inner .c-button {
    font-size: 16px;
    padding: 13px 10px;
  }
}


/*--------------------------------------*
/* project 
*--------------------------------------*/
.p-fv {
  background: url(/img/pc_lg02.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  overflow-x: hidden;
}

.p-fv__moonLeft {
  position: absolute;
  bottom: 430px;
  left: 0;
}



.p-fv__moonCenter {
  position: absolute;
  left: 56%;
  top: 24%;
}

.p-fv__moonRight {
  position: absolute;
  top: 140px;
  right: -100px;
}


.p-fv-copy {
  text-align: center;
  line-height: 1;
  padding-top: 160px;
}

.p-fv-copy__top,
.p-fv-copy__middle,
.p-fv-copy__bottom {
  display: block;
}

.p-fv-copy__top,
.p-fv-copy__middle {
  font-size: 67px;
  font-weight: 700;
}

.p-fv-copy__top {
  background: linear-gradient(91.07deg, #F1ECF9 0%, rgba(241, 236, 249, 0.8) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.p-fv-copy__middle {
  background: linear-gradient(90.9deg, #D2B8FF 2.74%, #8240FF 102.92%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-top: 15px;
}

.p-fv-copy__bottom {
  font-size: 36px;
  font-weight: 500;
  color: #F7F6F4;
  margin-top: 8px;
line-height: 1.5;
}

.p-fv-flex {
  display: flex;
  justify-content: center;
  margin: 55px auto;
  max-width: 1080px;
}

.p-fv-imgWrap {
  position: relative;
  margin-right: 34px;
  /* margin: 0 calc(50% - 35vw);
  width: 100vw;
  max-width: 687px; */
}

.p-fv__screen {
  width: 48.5vw;
}

.p-fv__no1 {
  position: absolute;
  top: 24.4vw;
  right: 1.6vw;
  max-width: 743px;
  width: 100%;
}

.p-fv-img__bottomText {
  font-size: 11px;
  color: #F7F6F4;
  position: absolute;
  bottom: 0;
  right: 0;
}

.p-fv-company__title {
  font-size: 40px;
  text-align: center;
  margin-top: 65px;
  line-height: 1;
  margin-bottom: 24px;
}

.p-fv-company__title span {
  font-size: 80px;
}

.p-fv-company__lists {
  display: flex;
  justify-content: center;
}

.p-fv-company__list img {
  max-width: 135px;
  max-height: 135px;
}

@media screen and (max-width: 1024px) {
  .p-fv__moonLeft {
    bottom: 560px;
  }

  .p-fv-copy__top,
  .p-fv-copy__middle {
    font-size: 50px;
    font-weight: 700;
  }

  .p-fv__no1 {
    right: 1.3vw;
  }

  .p-fv-company__list img {
    max-width: 120px;
    max-height: 120px;
  }
}

@media screen and (max-width: 900px) {

  .p-fv-company__title {
    margin-top: 200px;
  }

}

@media screen and (max-width: 767px) {

  .p-fv {
    background: url(https://lumar.seo-dash.net/img/bg_fv_sp02.jpg) no-repeat;
    background-position: center -400px;
  }

  .p-fv-copy__top,
  .p-fv-copy__middle {
    font-size: 30px;
    line-height: 1.3;
  }

  .p-fv-copy__middle {
    margin-top: 4px;
  }

  .p-fv__moonLeft {
    display: none;
  }

  .p-fv__moonCenter {
    display: none;
  }

  .p-fv__moonRight {
    display: none;
  }

  .p-fv-copy__bottom {
    font-size: 16px;
  }

  .p-fv-flex {
    display: block;
    margin-top: 24px;
  }

  .p-fv-imgWrap {
    width: 100%;
  }

  .p-fv-imgWrap img {
    width: 100%;
  }

  .p-fv__no1 {
    right: 0;
    top: unset;
    bottom: -50px;
  }

  .p-fv-company__title {
    font-size: 18px;
    margin-bottom: 40px;
  }

  .p-fv-company__title span {
    font-size: 40px;
  }

  .p-fv-copy {
    padding-top: 110px;
  }

  .p-fv-company__lists {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px;
  }

  .p-fv-company__list img {
    max-width: 100px;
    max-height: 100px;
  }
}

@media screen and (max-width: 450px) {
  .p-fv {
    background-size: cover;
    background-position: unset;
  }

  .p-fv-company__title {
    margin-top: 65px;
  }
}


.p-contact {
  background: url(/img/contact_bg_grad.png) no-repeat,
    url(/img/pattern.png) no-repeat,
    #fff;
  padding: 24px 32px;
  height: 584px;
  width: 370px;
  min-width: 370px;
  box-shadow: 0px 30px 48px rgba(2, 0, 52, 0.2);
  margin-left: -10px;
}

.p-contact-table {
  border-collapse: separate;
  border-spacing: 0 8px;
}

.p-contact__heading {
  font-size: 24px;
  margin-bottom: 8px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}

.p-contact__heading .u-kerning {
  position: relative;
  right: 13px;
}

.p-contact__heading .u-kerning02 {
  position: relative;
  right: 2px;
}

.p-contact-table input,
.p-contact-table textarea,
.p-contact-table select {
  background: #F1ECF9;
  font-size: 14px;
  width: 100%;
  max-width: 306px;
  padding: 12px;
  border-radius: 4px;
}

.p-contact-table input:focus,
.p-contact-table textarea:focus,
.p-contact-table select:focus {
  outline: 2px #6E20F4 solid;
}

.p-contact-table input.error,
.p-contact-table textarea.error,
.p-contact-table select.error {
  background: #F8E2E3;
  outline: #EE1A26 solid;
}

.p-contact-flex {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.p-contact-flex input {
  max-width: calc((306px - 8px) / 2);
}

.p-contact-bottomText {
  font-size: 14px;
  text-align: center;
  margin-bottom: 16px;
}

.p-contact-table textarea {
  height: 100px;
}

.p-contact-table select {
  padding: 0 10px;
}

.p-contact-table input,
.p-contact-table select {
  height: 38px;
}

select {
  -webkit-appearance: none;
  appearance: none;
  /* デフォルトの矢印を無効 */
}

.p-contact-table select {
  background-image: url(/img/select_arrow_sm.svg);
  background-position: right 17px center;
  background-repeat: no-repeat;
  background-size: 6px 3px;
}

.p-contact-table .u-select-lgIcon {
  background-image: url(/img/select_arrow_lg.svg);
  background-position: right 20px center;
  background-size: 11px 6px;
}

@media screen and (max-width: 900px) {
  .p-fv .p-contact {
    display: none;
  }

  .p-fv__no1 {
    top: 45vw;
  }

  .p-fv-imgWrap {
    width: 100%;
  }

  .p-fv-imgWrap img {
    width: 100%;
  }
}



.p-best {
  margin-top: 120px;
}

.p-best .c-section-title {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 1.5;
}

.p-best .c-section-title span {
  font-size: 54px;
}

.p-best-illust {
  position: absolute;
  top: -76px;
  right: -100px;
  z-index: -1;
}

.p-best-illust span {
  position: relative;
  display: inline-block;
}

.p-best-illust span:before {
  content: '';
  background-size: cover;
  width: 66px;
  height: 59px;
  position: absolute;
  top: 16px;
  left: 0;
}

@media screen and (max-width: 1024px) {
  .p-best-illust {
    right: 0;
  }

  .p-best-illust img {
    width: 300px;
  }
}


.p-best__listInner {
  padding: 48px;
  display: flex;
  justify-content: space-between;
}

.p-best__list:last-child {
  margin-bottom: 56px;
}

.p-best__title--flex {
  display: flex;
  align-items: center;
  width: 30%;
}

.p-best__text {
  width: 70%;
  padding-left: 67px;
  line-height: 1.8;
}

.p-best__title--flex img {
  width: 100%;
  max-width: 108px;
  margin-right: 32px;
}

.p-best__title {
  font-weight: 500;
  font-size: 40px;

}

.p-best__title--sub {
  display: block;
  font-size: 18px;
  position: relative;
  top: -6px;
}

.p-best__lists {
  margin-top: 40px;
}

.p-best__list+* {
  margin-top: 24px;
}

.p-best__inner--list:before {
  content: '1';
  font-size: 13px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  background: linear-gradient(90.9deg, rgba(110, 32, 244, 0.5) 2.74%, #6E20F4 102.92%);
  ;
  color: #fff;
  display: inline-block;
  text-align: center;
  font-family: 'Manrope', sans-serif;
  margin-right: 8px;
}

.p-best__inner--list:nth-of-type(2):before {
  content: '2';
}

@media screen and (max-width: 1024px) {
  .p-best__text {
    padding-left: 107px;
  }
}


@media screen and (max-width: 767px) {

  .p-best {
    margin-top: 56px;
  }

  .p-best .c-section-title {
    font-size: 26px;
  }

  .p-best .c-section-title span {
    font-size: 28px;
  }

  .p-best-illust {
    top: 46px;
    right: -10px;
  }

  .p-best-illust img {
    width: 100px;
    height: 100px;
  }

  .p-best-illust span:before {
    width: 18px;
    height: 16px;
    top: 3px;
  }

  .p-best__listInner {
    display: block;
    padding: 24px;
  }


  .p-best__list+* {
    margin-top: 16px;
  }

  .p-best__title {
    font-size: 24px;
    line-height: 1.75;
    margin-top: -8px;
  }

  .p-best__title--sub {
    font-size: 14px;
  }

  .p-best__text {
    width: 100%;
    padding-left: 0;
    margin-top: 16px;
    font-size: 14px;
  }

  .p-best__title--flex {
    flex-direction: row-reverse;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
  }

  .p-best__title--flex img {
    width: 50px;
    margin: 0;
  }

  .p-best__list:last-child {
    margin-bottom: 32px;
  }
}


.p-feature {
  background: #F1ECF9;
  padding-bottom: 120px;
}

.p-feature:before {
  content: '';
  background: url(/img/grad_bg.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 180px;
  display: inline-block;

}

.p-feature__lists {
  margin-top: 80px;
}

.p-feature__list+* {
  margin-top: 120px;
}

.p-feature__list {
  display: flex;
  align-items: center;
  grid-column-gap: 60px;
}

.p-feature__list:nth-of-type(2),.p-feature__list:nth-of-type(4) {
  flex-direction: row-reverse;
}

.p-feature__figure {
  position: relative;
  max-width: 585px;
  box-shadow: -10px 40px 80px -10px #D2B8FF, -40px 40px 30px -30px #6E20F4;
}

.p-feature__list:nth-of-type(2) .p-feature__figure {
  box-shadow: 10px 40px 80px -10px #D2B8FF, 40px 40px 30px -30px #6E20F4;
}

.p-feature__figure img {
  position: relative;
}

.p-feature__list .p-feature__figure:before {
  content: '1';
  font-size: 160px;
  font-family: 'Manrope', sans-serif;
  font-weight: bold;
  position: absolute;
  top: -125px;
  left: -36px;
  background: linear-gradient(90.9deg, rgba(110, 32, 244, 0.5) 2.74%, #6E20F4 102.92%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  transform: rotate(20deg);
}

.p-feature__list:nth-of-type(2) .p-feature__figure:before,.p-feature__list:nth-of-type(4) .p-feature__figure:before {
  content: '2';
  transform: rotate(-20deg);
  right: -52px;
  left: unset;
  font-weight: bold;
}

.p-feature__list:nth-of-type(3) .p-feature__figure:before {
  content: '3';
}.p-feature__list:nth-of-type(4) .p-feature__figure:before {
  content: '4';
}.p-feature__list:nth-of-type(5) .p-feature__figure:before {
  content: '5';
}

.p-feature__textBox {
  text-align: left;
  max-width: 435px;
}

.p-feature__title {
  font-size: 28px;
  font-weight: bold;
  background: linear-gradient(90.9deg, rgba(110, 32, 244, 0.5) 2.74%, #6E20F4 102.92%);
  margin-bottom: 24px;
}
.p-feature__title.new::before {
	content:"NEW";
font-family: ‘Manrope’, sans-serif;
	color: #fff;
  -webkit-text-fill-color: #fff;
  font-size: 20px;
  font-weight: bold;
	background: #FE8F3A;
	border-radius: 50px;
	display: table;
	padding: 4px 20px 0;
}

.p-feature__text {
  font-size: 18px;
  line-height: 1.8;
}

@media screen and (max-width: 1024px) {
  .p-feature__list .p-feature__figure:before {
    content: '1';
    font-size: 90px;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    position: absolute;
    top: -80px;
    left: -17px;
    background: linear-gradient(90.9deg, rgba(110, 32, 244, 0.5) 2.74%, #6E20F4 102.92%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    transform: rotate(20deg);
  }

  .p-feature__list:nth-of-type(2) .p-feature__figure:before {
    content: '2';
    transform: rotate(-20deg);
    right: -19px;
    left: unset;
    font-weight: bold;
  }

}


@media screen and (max-width: 767px) {

  .p-feature {
    padding-bottom: 80px;
  }

  .p-feature:before {
    height: 80px;
  }

  .p-feature__lists {
    margin-top: 32px;
  }

  .p-feature__list {
    display: block;
  }

  .p-feature__figure {
    box-shadow: -10px 20px 40px -10px #D2B8FF, -20px 20px 30px -30px #6E20F4;
  }

  .p-feature__list:nth-of-type(2) .p-feature__figure {
    box-shadow: 10px 20px 40px -10px #D2B8FF, 20px 20px 30px -30px #6E20F4;
  }

  .p-feature__title {
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 16px;
  }
.p-feature__title.new::before {
  font-size: 14px;
padding: 6px 20px 2px;
}
  .p-feature__text {
    font-size: 15px;
  }

  .p-feature__list .p-feature__figure:before {
    display: none;
  }

  .p-feature__list+* {
    margin-top: 40px;
  }

}


.p-cta {
  color: #fff;
  background: url(/img/bg_signal.png)no-repeat,
    #020034;
  padding: 65px 0;
  background-size: cover;
  background-position: center;
}

.p-cta-flex {
  display: flex;
  gap: 10px;
}

.p-cta .c-section-title {
  font-size: 40px;
  text-align: center;
  line-height: 1.5;
}

.p-cta .c-section-title--sub {
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 48px;
}

@media screen and (max-width: 1024px) {
  .p-cta .c-section-title {
    font-size: 32px;
  }

  .p-cta .c-section-title--sub {
    font-size: 14px;
  }

}


.p-cta-movie {
  width: 100%;
  max-width: 521px;
  margin: auto;
}

@media screen and (max-width: 767px) {

  .p-cta {
    padding-top: 32px;
    padding-bottom: 32px;
    background: url(/img/bg_signal_sp.png)no-repeat, #020034;
    background-size: cover;
    background-position: center;
  }

  .p-cta-flex {
    display: block;
  }

  .p-cta .c-section-title {
    font-size: 28px;
  }

  .p-cta .c-section-title--sub {
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 24px;
  }

  .p-cta-movie {
    margin-top: 32px;
  }

}


.p-possible {
  margin-top: 120px;
  text-align: center;
}

.p-possible__lists {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.p-possible .c-section-title--sub {
  font-size: 19px;
}

@media screen and (max-width: 1024px) {
  .p-possible__lists {
    gap: 24px;
  }
}


.p-possible__list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48%;
  text-align: left;
}

.p-possible__list:before {
  content: '';
  display: inline-block;
  background: url(/img/icon_functop01.svg)no-repeat;
  width: 100%;
  max-width: 108px;
  height: 108px;
  background-color: #fff;
}

.p-possible__list:nth-of-type(2)::before {
  background: url(/img/icon_functop02.svg)no-repeat;
}

.p-possible__list:nth-of-type(3)::before {
  background: url(/img/icon_functop03.svg)no-repeat;
}

.p-possible__list:nth-of-type(4)::before {
  background: url(/img/icon_functop04.svg)no-repeat;
}

.p-possible__list:nth-of-type(3),
.p-possible__list:nth-of-type(4) {
  margin-top: 48px;
}

.p-possible__listInner {
  padding-left: 32px;
  width: 100%;
  max-width: 417px;
}

.p-possible__title {
  font-size: 26px;
  margin-bottom: 16px;
  font-weight: 600;
  color: #6E20F4;
}

@media screen and (max-width: 767px) {
  .p-possible {
    margin-top: 80px;
  }

  .p-possible__lists {
    margin-top: 32px;
  }

  .p-possible__list {
    width: 100%;
  }

  .p-possible__list::before {
    display: none;
  }

  .p-possible__title {
    display: flex;
    align-items: center;
    font-size: 22px;
  }

  .p-possible .c-section-title--sub {
    font-size: 12px;
  }

  .p-possible__title::before {
    content: '';
    display: inline-block;
    background: url(/img/icon_functop01.svg)no-repeat;
    width: 100%;
    max-width: 64px;
    height: 64px;
    background-size: contain;
    margin-right: 16px;
  }

  .p-possible__list:nth-of-type(2) .p-possible__title::before {
    background: url(/img/icon_functop02.svg)no-repeat;
    background-size: contain;
  }

  .p-possible__list:nth-of-type(3) .p-possible__title::before {
    background: url(/img/icon_functop03.svg)no-repeat;
    background-size: contain;
  }

  .p-possible__list:nth-of-type(4) .p-possible__title::before {
    background: url(/img/icon_functop04.svg)no-repeat;
    background-size: contain;
  }

  .p-possible__lists {
    gap: 32px;
  }

  .p-possible__listInner {
    padding-left: 0;
  }

  .p-possible__list:nth-of-type(3),
  .p-possible__list:nth-of-type(4) {
    margin-top: 0;
  }
}

@media screen and (max-width: 350px) {
  .p-possible__title {
    font-size: 16px;
  }

}


.p-function {
  text-align: left;
  margin-top: 82px;
  margin-bottom: 120px;
}

.p-function-inner {
  padding: 48px 80px;
  position: relative;
}

.p-function-inner:before {
  content: '';
  position: absolute;
  top: -1px;
  right: 0;
  width: 120px;
  height: 120px;
  background: linear-gradient(45.89deg, rgba(210, 184, 255, 0) 59.29%, #AE7EFF 101.14%);
  ;
  border-radius: 16px;
}

.p-function .c-section-title {
  font-size: 40px;
  line-height: 1;
}

.p-function .c-section-title--sub {
  margin-top: 8px;
  font-size: 18px;
  line-height: 1;
}

.p-function__lists {
  display: grid;
  grid-template-columns: 285px 285px 285px;
  grid-row-gap: 24px;
  grid-column-gap: 32px;
  justify-content: center;
  margin-top: 32px;
}

.p-function__list {
  display: flex;
  align-items: center;
  font-weight: bold;
  background: #F1ECF9;
  border-radius: 16px;
  position: relative;
  height: 64px;
  padding-left: 1.5em;
  line-height: 1.3;
}

.p-function__list img {
  margin-right: 1em;
}

.p-function__list.u-astarisk {
  position: relative;
}

.p-function__list.u-astarisk:before {
  content: '※';
  position: absolute;
  top: 9px;
  right: 12px;
  font-size: 12px;
}

@media screen and (max-width: 1023px) {
  .p-function__lists {
    grid-row-gap: 16px;
    grid-column-gap: 24px;
    grid-template-columns: 100%;
  }
}


.p-function__illust span {
  position: relative;
  display: inline-block;
}

.p-function__illust span:before {
  content: '';
  background: url(/img/setting.gif);
  background-size: cover;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 60px;
  right: 70px;
}

.p-function__illust span:after {
  content: '';
  background: url(/img/setting.gif);
  background-size: cover;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 24px;
  right: 24px;
}

.p-function__illust {
  position: absolute;
  right: -70px;
  bottom: -244px;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  .p-function__illust {
    right: 0;
  }

  .p-function__illust img {
    width: 300px;
  }
}


.p-function__bottomText {
  margin-top: 24px;
  font-size: 14px;
  width: 100%;
  max-width: 602px;
}

@media screen and (max-width: 767px) {
  .p-function__lists {
    grid-template-columns: 100%;
    grid-row-gap: 8px;
  }

  .p-function-inner {
    padding: 24px;
    padding-bottom: 173px;
  }

  .p-function__illust img {
    width: 280px;
  }

  .p-function__illust {
    right: 28px;
    bottom: -129px;
  }

  .p-function {
    margin-top: 32px;
    margin-bottom: 120px;
  }

  .p-function .c-section-title {
    font-size: 24px;
    text-align: left;
  }

  .p-function .c-section-title--sub {
    font-size: 14px;
  }

  .p-function__lists {
    margin-top: 24px;
  }

  .p-function__list img {
    width: 24px;
  }

  .p-function__list {
    height: auto;
    padding: 12px 12px;
    padding-left: 1.5em;
  }

  .p-function__bottomText {
    margin-top: 16px;
  }

  .p-function__illust span:before {
    width: 21px;
    height: 21px;
    top: 40px;
    right: 48px;
  }

  .p-function__illust span:after {
    width: 35px;
    height: 35px;
    top: 8px;
    right: 19px;
  }
}



.p-step {
  padding-top: 120px;
  background: #F7F6F4;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.p-step .c-section-inner {
  max-width: 100%;
}


.p-step__number {
  background: linear-gradient(90.9deg, rgba(110, 32, 244, 0.5) 2.74%, #6E20F4 102.92%);
  border-radius: 50px;
  color: #fff;
  font-size: 22px;
  padding: 8px;
  font-family: 'Manrope', sans-serif;
  width: 100%;
  max-width: 133px;
  display: inline-block;
  font-weight: 600;
  text-align: center;
  position: relative;
}

.p-step__lists {
  /* display: flex; */
  margin-top: 80px;
  padding-bottom: 120px;
  pointer-events: none;
  /* gap: 24px; */
}

.p-step__list {
  display: flex;
  text-align: center;
  width: 100%;
  max-width: 344px;
  box-shadow: 0px 30px 48px rgba(2, 0, 52, 0.2);
}

.p-step__listInner {
  padding: 16px;
}

.p-step-img {
  margin-top: -44px;
  position: relative;
}

.p-step-img img {
  width: 100%;
  max-width: 312px;
  margin-top: -8px;
}

.p-step__text {
  margin-bottom: 26px;
  text-align: left;
}

.p-step__title {
  font-weight: bold;
  font-size: 24px;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: left;
}

.p-step-textBox {
  padding: 0 16px;
}

.p-step__bgText {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  z-index: -1;
}

.p-step .swiper-slide {
  height: auto;
}

.p-step .swiper-wrapper {
  justify-content: center;
}

@media screen and (max-width: 1023px) {
  .p-step__lists {
    pointer-events: unset;
  }

  .p-step .swiper-wrapper {
    justify-content: unset;
  }

}


@media screen and (max-width: 767px) {

  .p-step {
    /* overflow-x: scroll; */
    padding-top: 80px;
    padding-bottom: 0;
  }

  .p-step .c-section-inner {
    width: 100%;
    padding: 0;
  }

  .p-step .c-section-title--sub {
    padding: 0 24px;
  }

  .p-step__listsWrap.swiper03 {
    padding-right: 40px;
  }

  .p-step__lists {
    /* width: 920px; */
    margin-top: 32px;
    /* gap: 16px; */
    padding-bottom: 80px;
    padding-left: 24px;
  }

  .p-step__number {
    padding: 6px;
  }

  .p-step-textBox {
    padding: 0 8px;
  }

  .p-step__title {
    font-size: 20px;
  }

  .p-step__text {
    font-size: 16px;
  }

  .p-step__bgText {
    bottom: -1px;
  }
}


.p-comparison {
  margin: 120px 0;
}

.p-comparison__table {
  margin-top: 80px;
}

.p-comparison__table {
  display: grid;
  grid-template-columns: 124px 180px 180px 180px 180px 180px;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-rows: 56px 56px 103px 266px 0;
  padding: 8px;
  padding-bottom: 0;
  background: #F1ECF9;
	border-radius: 4px;
}

.u-center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-comparison__table>div {
  padding: .4em;
  border-radius: 4px;
  font-size: 14px;
  letter-spacing: 0.05em;
  line-height: 1.5;
  font-weight: 500;
}

.p-comparison__table>.div8 {
  letter-spacing: 0.03em;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .p-comparison__table>div {
    font-size: 13px;
  }

  .p-comparison__tableWrap {
    overflow-x: scroll;
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
    background-color: #F1ECF9;
    padding-bottom: 40px;
    padding-left: 24px;
    margin-top: 80px;
  }

  .p-comparison__table {
    position: relative;
    margin-top: 0;
    padding-left: 0;
  }

  .p-comparison__table:last-child:after {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    height: 1px;
    width: 24px;
    background: transparent;
  }

}

.p-comparison .u-bg-D2B8FF {
  background: #D2B8FF;
}

.p-comparison .u-gradient {
  color: #fff;
  background: linear-gradient(90.9deg, rgba(110, 32, 244, 0.5) 2.74%, #6E20F4 102.92%);
  ;
}

.p-comparison .u-bd-6E20F4 {
  border: 2px solid #6E20F4;
}

.p-comparison .u-bg-fff {
  background: #fff;
}

.p-comparison .u-bg-020034 {
  background: #020034;
  color: #fff;
}

.p-comparison .u-fwb {
  font-weight: bold;
}

.p-comparison .u-dotted {
  display: inline-block;
  padding-left: 1em;
  text-indent: -1em;
}

.p-comparison .u-dotted:not(:first-child) {
  margin-top: 8px;
}

.p-comparison .u-dotted:before {
  content: '・';
}

.div1 {
  grid-area: 2 / 1 / 3 / 2;
}

.div2 {
  grid-area: 3 / 1 / 4 / 2;
}

.div3 {
  grid-area: 4 / 1 / 6 / 2;
}

.div4 {
  grid-area: 4 / 1 / 5 / 2;
}

.div5 {
  grid-area: 1 / 2 / 2 / 3;
}

.div6 {
  grid-area: 2 / 2 / 3 / 3;
}

.div7 {
  grid-area: 3 / 2 / 4 / 3;
}

.div8 {
  grid-area: 4 / 2 / 5 / 3;
}

.div9 {
  grid-area: 4 / 2 / 5 / 3;
}

.div10 {
  grid-area: 1 / 3 / 2 / 4;
}

.div11 {
  grid-area: 2 / 3 / 3 / 4;
}

.div12 {
  grid-area: 3 / 3 / 4 / 4;
}

.div13 {
  grid-area: 4 / 3 / 5 / 4;
}

.div14 {
  grid-area: 4 / 3 / 5 / 4;
}

.div15 {
  grid-area: 1 / 4 / 2 / 5;
}

.div16 {
  grid-area: 2 / 4 / 3 / 5;
}

.div17 {
  grid-area: 3 / 4 / 4 / 5;
}

.div18 {
  grid-area: 4 / 4 / 5 / 5;
}

.div19 {
  grid-area: 4 / 4 / 5 / 5;
}

.div20 {
  grid-area: 1 / 5 / 2 / 6;
}

.div21 {
  grid-area: 2 / 5 / 3 / 6;
}

.div22 {
  grid-area: 3 / 5 / 4 / 6;
}

.div23 {
  grid-area: 4 / 5 / 5 / 6;
}

.div24 {
  grid-area: 4 / 5 / 5 / 6;
}

.div25 {
  grid-area: 1 / 6 / 2 / 7;
}

.div26 {
  grid-area: 2 / 6 / 3 / 7;
}

.div27 {
  grid-area: 3 / 6 / 4 / 7;
}

.div28 {
  grid-area: 4 / 6 / 5 / 7;
}

.div29 {
  grid-area: 4 / 6 / 5 / 7;
}

.div30 {
  grid-area: 1 / 6 / 2 / 7;
}

.p-comparison__imgWrap {
  display: none;
}



@media screen and (max-width: 767px) {

  .p-comparison {
    margin-top: 80px;
    margin-bottom: 0;
  }

  .p-comparison__imgWrap {
    display: block;
    margin-top: 34px;
    margin-bottom: 14px;
  }

  .p-comparison__tableWrap {
    margin-top: 0;
  }

  .p-comparison__imgWrap img {
    margin-left: auto;
  }

  .p-comparison__table {
    grid-template-columns: 124px 180px 180px 180px 180px 180px 24px;

  }

}


.p-case {
  padding-top: 120px;
  position: relative;
}

.p-case::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 535px;
  background-color: #F7F6F4;
  z-index: -1;
}

.p-case-slider {
  position: relative;
  margin-top: 80px;

}

/* 前への矢印 */
.p-case-slider .swiper-button-prev {
  left: -40px;
  top: 260px;
}

/* 次への矢印 */
.p-case-slider .swiper-button-next {
  right: -50px;
  top: 260px;
}

.p-case-slider__ph {
  background: linear-gradient(90deg, rgba(110, 32, 244, .5), #6E20F4);
  padding: 6px;
  border-radius: 16px;
}

.p-case-slider__ph img {
  border-radius: 10px;
}

.p-case-slider__list {
  width: 100%;
  line-height: 1.8;
}

.p-case-slider__title {
  font-size: 30px;
  font-weight: bold;
  margin-top: 32px;
  padding: 0 16px;
}

.p-case-slider__text {
  margin-top: 16px;
  margin-bottom: 48px;
  font-weight: 500;
  padding: 0 16px;
}

.p-case-up__text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  font-weight: 500;
  background: #F7F6F4;
  width: 100%;
  max-width: 153px;
  text-align: center;
  position: relative;
  padding: 8px 16px;
  line-height: 1.2;
}

.p-case-up__text:after {
  content: '';
  position: absolute;
  bottom: -9px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 5px 0 5px;
  border-color: #F7F6F4 transparent transparent transparent;
}

.p-case-up__details {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-top: 9px;
}

.p-case-slider__lists {
  margin-bottom: 80px;
}

.p-case-up__details .u-font-manrope {
  font-size: 36px;
}

.p-case-slider__flex {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}

.p-case-up {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 153px;
}


@media screen and (max-width: 767px) {
  .p-case {
    padding-top: 80px;
  }

  .p-case::before {
    height: 309px;
  }

  .p-case-slider {
    margin-top: 32px;
  }

  .p-case-slider__title,
  .p-case-up__text,
  .p-case-slider__text,
  .p-case-slider__flex {
    padding: 0;
  }

  .p-case-up__text {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .p-case-slider__flex {
    gap: 8px;
  }


  /* 前への矢印 */
  .p-case-slider .swiper-button-prev {
    left: -24px;
    top: 60px;
  }

  /* 次への矢印 */
  .p-case-slider .swiper-button-next {
    right: -24px;
    top: 60px;
  }

  .p-case-slider__list {
    width: 100%;
    /* max-width: 295px; */
  }

  .p-case-slider__title {
    margin-top: 16px;
    font-size: 20px;
  }

  .p-case-up__text {
    font-size: 12px;
    line-height: 1.2;
  }

  .p-case-slider__flex {
    margin-top: 16px;
  }

  .p-case-up__details {
    font-size: 23px;
  }

  .p-case-up__details .u-font-manrope {
    font-size: 25px;
  }

  .p-case-slider__lists {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 450px) {
  .p-case::before {
    height: 367px;
  }
}

@media screen and (max-width: 374px) {
  .p-case-up__details {
    font-size: clamp(18px, 1vw, 20px);
  }

  .p-case-up__details .u-font-manrope {
    font-size: clamp(20px, 1vw, 22px);
  }

  .p-case-up__text {
    font-size: 11px;
  }
}


.p-support {
  position: relative;
  margin-top: 80px;
  padding-bottom: 80px;
}

.p-support:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 320px;
  background: url(/img/bg_signal.png)no-repeat, #020034;
  z-index: -1;
  background-size: cover;
  background-position: center;
}

.p-support-bg {
  background: linear-gradient(100.5deg, rgba(2, 0, 52, 0.8) 0%, rgba(2, 0, 52, 0.7) 49.42%, rgba(110, 32, 244, 0.5) 100%),
    url(/img/support_ph.jpg)no-repeat;
  background-size: cover;
  background-position: center;
  padding: 64px;
}

.p-support-bg .c-section-title {
  font-size: 40px;
}

.p-support__heading {
  margin-top: 32px;
  font-size: 20px;
  font-weight: 500;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 1px solid rgba(247, 246, 244, 0.5);
  padding-bottom: 20px;
}

.p-support__details {
  padding-top: 15px;
  font-size: 14px;
  margin-bottom: 32px;
}

@media screen and (max-width: 767px) {

  .p-support {
    text-align: center;
  }

  .p-support:before {
    height: 310px;
  }

  .p-support-bg {
    padding: 48px 32px;
  }

  .p-support-bg .c-section-title {
    font-size: 28px;
  }

  .p-support__heading {
    font-size: 16px;
    margin-top: 24px;
  }

  .p-support .c-button-wrapper {
    text-align: center;
  }
}

.p-voice {
  padding-top: 80px;
  background: #F1ECF9;
  overflow: hidden;
}

.p-voice .c-section-title {
  line-height: 1.2;
}

.p-voice .c-section-title .u-color-grad {
  font-size: 54px;
  line-height: 1;
}

.p-voice-slider .swiper-slide {
  overflow: hidden;
  width: 100%;
  /* max-width: 528px; */
  height: auto;
  background: #fff;
  border-radius: 8px;
  padding: 40px 32px;
  background: linear-gradient(75.68deg, #D2B8FF 0%, #F7F6F4 16.27%, #FFFFFF 100.79%);
  ;
  box-shadow: 0px 40px 80px -10px #D2B8FF, 0px 40px 30px -30px #6E20F4;
}

.p-voice-slider .swiper02 {
  position: relative;
  padding-left: calc((100% - 1080px) /2);
  padding-right: 24px;
  /* left: calc((100% - 1080px) /2); */
  overflow: unset;
}

/* .p-voice .swiper {
  padding-left: 80px;
} */

@media screen and (max-width: 767px) {
  .swiper02 {
    padding-left: 24px;
    margin-left: 24px;
  }

  .p-voice .swiper {
    padding: 0 24px;
  }

  .p-voice {
    padding-bottom: 35px;
  }

  .p-voice .c-section-title .u-color-grad {
    font-size: 32px;
  }

}


.p-voice-slider .swiper-wrapper {
  justify-content: unset;
  padding-bottom: 120px;
  padding-top: 34px;
}


.p-voice-slider__lists {
  display: flex;

}

.p-voice-slider__list {
  display: flex;
  justify-content: space-between;
  height: auto;
  line-height: 1.8;
}

.p-voice-slider__ph.u-border-grad {
  background: linear-gradient(90deg, rgba(110, 32, 244, .5), #6E20F4);
  padding: 2px;
  border-radius: 50px;
  min-width: 100px;
  height: 100px;
  margin-right: 24px;
}

.p-voice-slider__ph img {
  min-width: 96px;
  height: 96px;
  border-radius: 50px;
}

.p-voice-sliderBox {
  width: 100%;
}

.p-voice-slider__text {
  font-size: 14px;
}

.p-voice-slider__name {
  font-weight: 500;
}

.p-voice-slider__desc {
  color: rgba(2, 0, 52, 0.5);
  display: block;
  font-size: 12px;
  margin-bottom: 8px;
}

.p-voice-slider {
  position: relative;
}

.p-voice-slider .swiper-controller {
  position: absolute;
  top: -50px;
  right: calc((100vw - 850px) / 2);
}

@media screen and (max-width: 1024px) {
  .p-voice-slider .swiper-controller {
    right: 180px;
  }

  .p-voice-slider .swiper-wrapper {
    padding-left: calc((100% - 920px) /2);
  }
}


.p-voice-slider .swiper-button-next,
.p-voice-slider .swiper-rtl .swiper-button-prev {
  left: 76px;
}

/* 幅・高さを指定 */
.p-case-slider .swiper-button-prev,
.p-case-slider .swiper-button-next {
  width: 40px;
  height: 80px;
}

/* 幅・高さを指定 */
.p-voice-slider .swiper-button-prev,
.p-voice-slider .swiper-button-next {
  height: 47px;
  width: 47px;
}

/* 矢印を消す、画像に変更 */
.p-case-slider .swiper-button-prev:after,
.p-case-slider .swiper-button-next:after {
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 50px;
  margin: auto;
}

.p-voice-slider .swiper-button-prev:after,
.p-voice-slider .swiper-button-next:after {
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 50px;
  margin: auto;
}

/* 前に戻る画像パス */
.p-case-slider .swiper-button-prev:after {
  background-image: url(/img/prev_arrow.svg);
}

.p-case-slider .swiper-button-next:after {
  background-image: url(/img/next_arrow.svg);
}

/* 前に戻る画像パス */
.p-voice-slider .swiper-button-prev:after {
  background-image: url(/img/button_slider_prev.svg);
}

.p-voice-slider .swiper-button-next:after {
  background-image: url(/img/button_slider.svg);
}

@media screen and (max-width: 767px) {

  .p-case-slider .swiper-button-prev:after,
  .p-case-slider .swiper-button-next:after {
    height: 24px;
    width: 12px;
  }
}

@media screen and (max-width: 767px) {

  .p-voice-slider__ph {
    margin: auto;
  }

  .p-case-slider {
    padding: 0 16px;
  }

  .p-voice .c-section-title {
    text-align: center;
  }

  .p-voice-slider {
    overflow: hidden;
  }

  .swiper-controller {
    right: 250px;
    bottom: -500px;
  }

  .p-voice-slider__list {
    display: block;
  }

  .p-voice-slider__name {
    margin-top: 16px;
  }

  .p-voice-slider .swiper-controller {
    right: unset;
    top: unset;
    left: calc(50% - 64px);
    bottom: 74px;
  }

  .p-voice-slider .swiper-slide {
    /* max-width: 327px; */
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .p-case-slider .swiper-button-prev:after {
    background-image: url(/img/prev_arrow_sp.svg);
  }

  .p-case-slider .swiper-button-next:after {
    background-image: url(/img/next_arrow_sp.svg);
  }

  .p-voice-slider__ph.u-border-grad {
    width: 100px;
    margin: auto;
  }

}



.p-faq {
  padding-top: 120px;
  position: relative;
}

.p-faq .c-section-title {
  position: relative;
}

.p-faq__illust {
  position: absolute;
  right: 0;
  top: -120px;
  z-index: 0;
}

.p-faq .u-font-manrope {
  font-size: 80px;
}

.p-faq .u-fz-66 {
  font-size: 66px;
  font-family: 'Noto Sans JP';
}

@media screen and (max-width: 767px) {

  .p-faq {
    padding-top: 40px;
  }

  .p-faq .u-font-manrope {
    font-size: 46px;
  }

  .p-faq .u-fz-66 {
    font-size: 32px;
  }

  .p-faq__illust img {
    width: 167px;
    height: 170px;
  }

  .p-faq__illust {
    right: 0;
    top: -56px;
  }
}


.p-contact-footer {
  margin-top: 120px;
  padding-top: 120px;
  padding-bottom: 120px;
  background: url(/img/contact_bg.png)no-repeat;
  background-size: cover;
  background-position: center center;
}

.p-contact-footer .p-contact {
  margin: auto;
  height: auto;
  width: 100%;
  max-width: 800px;
  text-align: center;
  background-repeat: repeat-x;
  padding: 64px;
}

.p-contact-footer .c-section-title {
  font-size: 54px;
  line-height: 1;
}

.p-contact-footer .c-section-title--sub {
  font-size: 18px;
  margin-top: 0;
}

.p-contact-footer .p-contact-table {
  margin: auto;
  margin-top: 32px;
}

.p-contact-footer .p-contact-table input,
.p-contact-footer .p-contact-table textarea,
.p-contact-footer .p-contact-table select {
  max-width: 398px;
  text-align: left;
  height: 48px;
}

.p-contact-footer .p-contact-flex input {
  max-width: calc((398px - 8px) / 2);
}

.p-contact-footer .p-contact-table textarea {
  height: 200px;
}

.p-contact-footer .p-contact-table {
  border-spacing: 0 12px;
}

.p-contact-bottomText--footer {
  margin: auto;
  margin-top: 8px;
  margin-bottom: 12px;
  max-width: 306px;
}

.p-contact-footer .c-button-contact {
  max-width: 398px;
  font-size: 18px;
}

.p-contact-scroll {
  width: 100%;
  max-width: 398px;
  margin: auto;
  margin-top: 32px;
  padding: 24px;
  background: #F7F6F4;
  height: 200px;
  overflow-y: scroll;
  border: 1px solid rgba(2, 0, 52, 0.1);
  text-align: left;
}

.p-contact-scroll h3,
.p-contact-scroll h4 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
}

.p-contact-scroll p {
  font-size: 12px;
  margin-bottom: 24px;
}

.p-contact-scroll ul {
  font-size: 12px;
}

@media screen and (max-width: 767px) {

  .p-contact-footer {
    margin-top: 48px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .p-contact-footer .p-contact-table {
    margin-top: 24px;
  }

  .p-contact-footer .p-contact {
    padding: 16px;
    padding-top: 40px;
    max-width: 343px;
    min-width: unset;
    padding-bottom: 48px;
  }

  .p-contact-footer .c-section-inner {
    padding: 0 16px;
  }

  .p-contact-bottomText--footer {
    margin-top: 12px;
  }

  .p-contact-footer .c-section-title {
    font-size: 40px;
  }

  .p-contact-footer .c-section-title--sub {
    font-size: 16px;
  }

  .p-contact-footer .p-contact-table input,
  .p-contact-footer .p-contact-table textarea,
  .p-contact-footer .p-contact-table select,
  .p-contact-scroll {
    max-width: 311px;
  }

  .p-contact-scroll {
    padding: 24px 18px;
  }

}


.p-footer {
  padding: 56px 0;
  border-top: 1px solid #F7F6F4;
}
.p-footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.p-footer__logo {
  margin-bottom: 16px;
}

.p-footer__leftText {
  font-size: 14px;
}

.p-footer__copyright {
  font-size: 12px;
}

@media screen and (max-width: 767px) {

  .p-footer {
    padding: 24px 10px;
  }

  .p-footer-flex {
    display: block;
  }

  .p-footer__logo img {
    max-width: 177px;
    margin: auto;
  }

  .p-footer__leftText {
    font-size: 12px;
    text-align: center;
  }

  .p-footer__copyright {
    font-size: 10px;
    text-align: center;
    display: block;
    margin-top: 32px;
  }

}


/*--------------------------------------*
/* component
*--------------------------------------*/

.c-section-inner {
  width: 90%;
  max-width: 1080px;
  margin: auto;
}

.c-section-title {
  font-size: 50px;
  font-weight: 500;
}

.c-section-title--sub {
  display: block;
  margin-top: 40px;
  font-size: 24px;
  line-height: 1.8;
}

.c-button-wrapper {
  text-align: center;
}

.c-button {
  background: linear-gradient(94.17deg, rgba(255, 137, 36) 0%, rgba(251, 105, 43) 100.17%);
  border-radius: 8px;
  padding: 20px 1.6em;
  width: 100%;
  max-width: 252px;
  font-size: 20px;
  font-weight: 500;
  display: inline-block;
  transition: ease-out .2s;
  z-index: 0;
  position: relative;
  box-shadow: 0px 30px 48px rgba(251, 105, 43, 0.2);
}

.c-button span {
  color: #F7F6F4;
  position: relative;
  z-index: 1;
}


.c-button:before {
  color: #F7F6F4;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: linear-gradient(94.17deg, #FB692B 0%, #FF963D 100.17%);
  z-index: 1;
  transition: ease-out .2s;
}

.c-button:hover:before {
  opacity: 0;
}

.c-button.u-opacity-none:hover {
  background: linear-gradient(94.17deg, rgba(255, 137, 36, 1) 0%, rgba(251, 105, 43, 1) 100.17%);
}


.c-button-contact {
  background: linear-gradient(94.17deg, rgba(0, 90, 171, 0.8) 0%, rgba(52, 137, 214, 0.8) 100.17%);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  padding: 8px 2em;
  max-width: 200px;
  font-size: 15px;
  letter-spacing: 0.05em;
  position: relative;
  z-index: 0;
  transition: ease-out .2s;
  box-shadow: none;
}

.c-button-contact:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(94.17deg, #3489D6 0%, #005AAB 100.17%);
  z-index: 1;
  transition: ease-out .2s;
}

.c-button-cta {
  font-size: 24px;
  max-width: 300px;
  display: inline-block;
}

.c-button--gh {
  background: transparent;
  text-align: center;
  border: 1px solid #F7F6F4;
  transition: ease-out .2s;
  max-width: 200px;
  font-size: 18px;
  box-shadow: none;
  padding-top: 16px;
  padding-bottom: 16px;
}

.c-button--gh:before {
  background: #f7f6f400;
}

.c-button--gh:hover {
  /* background: linear-gradient(94.81deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
  ; */
  box-shadow: 120px 0px 100px -60px rgb(255 255 255 / 30%) inset;
  transition: ease-out .2s;
}

.c-button-topText {
  margin-bottom: 16px;
  font-weight: 500;
}

.c-down-arrow img {
  width: 80px;
  height: 40px;
  margin: auto;
}

.c-float-button {
  position: relative;
  color: #fff;
  background: url(/img/float_bg.png)no-repeat,
    #020034;
  background-size: cover;
  background-position: center center;
  width: 317px;
  height: 208px;
  border-radius: 8px;
  padding: 24px 0;
  filter: drop-shadow(0px 30px 48px rgba(2, 0, 52, 0.2));
  box-shadow: 0px 30px 48px rgba(2, 0, 52, 0.2);
  position: fixed;
  right: 24px;
  bottom: 24px;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: ease-in .3s;
}

.c-float-button button {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 30px;
  height: 30px;
  z-index: 1;
}

.banner-close span {
  position: relative;
  display: block;
}

.banner-close span img {
  position: absolute;
  top: -8px;
  right: 8px;
}

.c-float-textTop {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.05em;
  color: #F7F6F4;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.c-float-textTop:before,
.c-float-textTop:after {
  content: '';
  display: inline-block;
  width: 40px;
  height: 2px;
  background: #F7F6F4;
  margin-top: 30px;
}

.c-float-textTop:before {
  transform: rotate(-110deg);
}

.c-float-textTop:after {
  transform: rotate(-70deg);
}

@media screen and (max-width: 767px) {

  .c-section-inner {
    width: 100%;
    padding: 0 24px;
  }

  .c-button {
    font-size: 20px;
    max-width: 100%;
    padding: 22px 10px;
  }

  .c-button--float {
    padding: 12px 10px;
  }

  .c-float-button {
    width: 100%;
    height: auto;
    padding: 22px 16px 16px;
    border-radius: 0;
  }

  .c-float-textTop {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .c-button--gh {
    font-size: 18px;
    max-width: 200px;
    padding: 14px 10px;
  }

  .c-button--gh-tac {
    margin: auto;
  }

  .c-button--float {
    max-width: 100%;
  }

  .c-button-contact {
    padding: 8px 10px;
    font-size: 18px;
  }

  .c-section-title {
    font-size: 28px;
    letter-spacing: 0.05em;
  }

  .c-section-title--sub {
    font-size: 16px;
    margin-top: 16px;
    letter-spacing: 0.05em;
  }

  .c-down-arrow img {
    width: 40px;
    height: 20px;
  }

  .c-float-textTop:before,
  .c-float-textTop:after {
    width: 20px;
    margin-top: 4px;
  }

  .c-float-button {
    right: 0;
    bottom: -1px;
  }

  .c-float-button button {
    width: 15px;
    height: 15px;
    top: 10px;
    right: 10px;
  }
  .banner-close span img {
    position: absolute;
    top: -7px;
    right: 1px;
  }
}


.is-active {
  visibility: visible;
  opacity: 1;
  transition: ease-in .3s;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  transition: ease-in .3s;
}


/*--------------------------------------*
/* utility
*--------------------------------------*/

.u-font-manrope {
  font-family: 'Manrope', sans-serif;
  font-weight: bold;
}

.u-color-grad {
  background: linear-gradient(90.9deg, rgba(110, 32, 244, 0.5) 2.74%, #6E20F4 102.92%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-right: 6px;
  letter-spacing: 0;
}

.u-color-grad--02 {
  background: linear-gradient(90.9deg, #D2B8FF 2.74%, #AE7EFF 102.92%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  letter-spacing: 0.05em;
}

.u-dib {
  display: inline-block;
}

.u-color-wh {
  color: #fff;
}

.u-color-purple {
  color: #6E20F4;
}

.u-tal {
  text-align: left;
}

.u-tac {
  text-align: center;
}

.u-tar {
  text-align: right;
}

.u-border-grad {
  background: linear-gradient(90deg, rgba(110, 32, 244, .5), #6E20F4);
  padding: 2px;
  border-radius: 16px;
}

.u-border-grad--bg {
  background: #fff;
  border-radius: 14px;
}

.u-border-grad--top {
  border-radius: 0 0 8px 8px;
  background: #F1ECF9;
  border-top: 4px solid;
  border-image: linear-gradient(90deg, rgba(110, 32, 244, .5), #6E20F4);
  border-image-slice: 1;
}

_::-webkit-full-page-media,
_:future,
:root .u-border-grad--top {
  border-top: unset;
  border-image-slice: unset;
  border-image: linear-gradient(90deg, rgba(110, 32, 244, .5), #6E20F4) 1/1 0 0 0;
  border-style: solid;
}

.u-icon-calc span:before {
  content: '';
  display: inline-block;
  background: url(/img/icon_calc.svg)no-repeat;
  background-size: contain;
  width: 17px;
  height: 23px;
  vertical-align: middle;
  margin-right: 12px;
  transform: translateY(-2px);
}

.u-icon-lens span:before {
  content: '';
  display: inline-block;
  background: url(/img/icon_lens.svg)no-repeat;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 12px;
  transform: translateY(-2px);
}

.u-icon-mail span:before {
  content: '';
  display: inline-block;
  background: url(/img/icon_mail.svg)no-repeat;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 12px;
  transform: translateY(-2px);
}

_::-webkit-full-page-media, _:future,
 :root .u-icon-lens span:before,
 .u-icon-mail span:before,
 .u-icon-calc span:before
  {
  transform: translateY(1px);
}

@media screen and (-webkit-min-device-pixel-ratio:0) {

  ::i-block-chrome,
  .u-border-grad--top {
    border-top: unset;
    border-image-slice: unset;
    border-image: linear-gradient(90deg, rgba(110, 32, 244, .5), #6E20F4) 1/1 0 0 0;
    border-style: solid;

  }
}

.u-fz-lg {
  font-size: 80px;
  line-height: 1;
}

.u-fz-50 {
  font-size: 50px;
}

.u-fz-17 {
  font-size: 17px;
}

.u-fz-11 {
  font-size: 11px;
}

.u-pc-none {
  display: none;
}

.u-mb-24 {
  margin-bottom: 24px;
}

.u-fz-sm {
  font-size: 40px;
}

@media screen and (max-width: 767px) {
  .u-sp-none {
    display: none;
  }

  .u-pc-none {
    display: block;
  }

  .u-fz-lg {
    font-size: 58px;
  }

  .u-fz-50 {
    font-size: 28px;
  }

  .u-fz-sm {
    font-size: 24px;
  }

  .u-dib-inline {
    display: inline;
  }

  .u-color-grad {
    margin-right: 4px;
  }

}


/* アコーディオン */

.qa-list {
  margin-top: 44px;
}

.p-faq .u-border-grad {
  border-radius: 8px;
  padding: 4px;
}

.qa-list dl {
  position: relative;
  cursor: pointer;
}

.qa-list-border {
  background: rgba(0, 0, 0, 0.1);
}

.qa-list-border+* {
  margin-top: 8px;
}

.qa-list-border:hover {
  transition: ease-in .3s;
  background: linear-gradient(90deg, rgba(110, 32, 244, .5), #6E20F4);
}


.qa-list-border.u-border-grad.open {
  background: linear-gradient(90deg, rgba(110, 32, 244, .5), #6E20F4);
}


.qa-list dl:first-child {
  margin-top: 0;
}

.qa-list dl dt::after {
  position: absolute;
  top: 50%;
  right: 26px;
  display: block;
  width: 14px;
  height: 14px;
  margin: auto;
  content: '';
  transform: translateY(-50%) rotate(135deg);
  border-top: 3px solid #6E20F4;
  border-right: 3px solid #6E20F4;
  transition: ease-in .3s;
}

.qa-list-border.open .qa dt:after {
  transform: translateY(-25%) rotate(-45deg);
  transition: ease-in .3s;
}

.qa-list dl dt {
  font-size: 20px;
  position: relative;
  margin: 0;
  padding: 20px 20px 20px 96px;
  font-weight: bold;
  background: #fff;
  border-radius: 4px;
}

.qa-list dl dt::before {
  font-size: 30px;
  line-height: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 48px;
  display: block;
  content: 'Q';
  font-family: 'Manrope', sans-serif;
  background: linear-gradient(90.9deg, rgba(110, 32, 244, 0.5) 2.74%, #6E20F4 102.92%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.qa-list dl dd::before {
  font-size: 30px;
  line-height: 1;
  position: absolute;
  left: 48px;
  display: block;
  content: 'A';
  font-weight: bold;
  font-family: 'Manrope', sans-serif;
  background: linear-gradient(90.9deg, rgba(110, 32, 244, 0.5) 2.74%, #6E20F4 102.92%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.qa-list dl dd {
  position: relative;
  margin: 0;
  padding: 32px 80px 32px 96px;
  border-radius: 4px;
}

.qa-list dl dd p {
  margin: 30px 0 0;
  font-size: 18px;
  line-height: 1.8;
}

.qa-list dl dd p:first-child {
  margin-top: 0;
}

@media screen and (max-width: 767px) {
  .qa-list dl {
    margin: 10px 0 0;
  }

  .qa-list dl dd::before {
    font-size: 24px;
    left: 22px;
  }

  .qa-list dl dd {
    margin: 0;
    padding: 16px 16px 16px 56px;
    font-size: 14px;
  }

  .qa-list dl dd p {
    margin: 30px 0 0;
    font-size: 14px;
  }

  .qa-list dl dd p:first-child {
    margin-top: 0;
  }

  .qa-list dl dt::before {
    font-size: 24px;
    left: 20px;
  }

  .qa-list dl:after {
    top: 21px;
    right: 20px;
    width: 12px;
    height: 12px;
    border-top: 3px solid #6E20F4;
    border-right: 3px solid #6E20F4;
  }

  .qa-list dl dt {
    padding: 16px 56px 16px 56px;
    font-size: 14px;
  }
}

/* アコーディオン */




/* fadeUp */

.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: .9s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.fadeUp.delay01 {
  animation-delay: 0.5s;
}

.fadeUp.delay02 {
  animation-delay: 0.7s;
}

.fadeUp.delay03 {
  animation-delay: 1s;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.fadeUp02 {
  animation-name: fadeUpAnime02;
  animation-duration: .9s;
  animation-delay: 1.7s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime02 {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}



.fadeDown {
  animation-name: fadeDownAnime;
  animation-duration: .9s;
  animation-delay: 1.7s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeDownAnime {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeIn {
  animation-name: fadeInAnime;
  animation-duration: .9s;
  animation-delay: 2.4s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.fadeIn.delay04 {
  animation-delay: 2.4s;
}

@keyframes fadeInAnime {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.c-down-arrow {
  animation-name: scrollDown1;
  opacity: 0;
  animation-duration: 2.2s;
  animation-delay: 3.4s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  overflow: hidden;
}

@keyframes scrollDown1 {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  50% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(30px);
    opacity: 0;
  }
}

@media screen and (min-width:769px) and (max-width: 900px) {
  .c-down-arrow {
    display: none;
  }
}


@media screen and (max-width: 768px) {
  .c-down-arrow {
    display: block;
    margin-top: 112px;
  }
}


.pararaxArea .pararaxItem {
  position: absolute;
}

.pararaxArea .pararaxItem:nth-of-type(1) {
  transition: transform .6s linear .008s;
}

.pararaxArea .pararaxItem:nth-of-type(2) {
  transition: transform .5s linear .004s;

}

.pararaxArea .pararaxItem:nth-of-type(3) {
  transition: transform .3s linear 0s;
}

@media screen and (max-width: 767px) {
  .fadeUp02 {
    animation-delay: 0.5s;
  }

  .fadeDown {
    animation-delay: 0.5s;
  }

  .fadeIn {
    animation-delay: 1.1s;
  }

  .fadeIn.delay04 {
    animation-delay: 1.1s;
  }
}


@media screen and (min-width: 1441px) {

  .p-fv {
    background-position: top center;
  }

  .p-fv .c-section-inner {
    max-width: 1280px;
  }

  .p-fv-imgWrap {
    margin: unset;
    margin-right: 40px;

  }

  .p-fv__no1 {
    position: absolute;
    top: unset;
    right: 20px;
    min-width: 743px;
    bottom: 30px;
  }

  .p-step__lists {
    justify-content: center;
  }

  .p-feature:before {
    height: 320px;
  }

  .p-step__bgText img {
    width: clamp(1920px, 100vw, 2560px);
    max-width: 100%;
    margin: auto;
  }
}

.anime-floating:before,.anime-floating03:before,.anime-floating05:before {
  animation: floating 7s 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
}
.anime-floating02:before,.anime-floating04:before {
  animation: floating02 7s 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  animation-delay: .3s;
}

@keyframes floating {
  0% {
    transform: rotate(20deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-10deg) translate3d(0, -7.5%, 0);
  }

  to {
    transform: rotate(20deg) translate3d(0, 0, 0);
  }
}

@keyframes floating02 {
  0% {
    transform: rotate(-20deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(10deg) translate3d(0, -7.5%, 0);
  }

  to {
    transform: rotate(-20deg) translate3d(0, 0, 0);
  }
}

.slideNone .swiper-button-next,
.slideNone .swiper-button-prev {
  display: none;
}

/* cookie同意のスタイル設定 */
#cookieConsentPopup {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(50,50,58,0.9);
  color: white;
  display: flex;
  font-size: 13px;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  line-height: 1.2;
}

#cookieConsentPopup .cookie_wrap{
padding: 15px 30px;
text-align: center;
width: 100%;
}

#cookieConsentPopup button {
  background-color: #00a99d;
  border: none;
  border-radius: 3px;
  font-size: 13px;
  padding: 8.5px 10px;
  margin: 0 0 0 10px;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 1140px) {
#cookieConsentPopup button{
  display: block;
  margin: 4px auto 0;
}
}
.newsText{
  font-size: 14px;
  text-align: center;
  margin-bottom: 16px;
}
@media screen and (max-width: 900px) {
  .newsText{
  font-size: 10px;
  text-align: left;
  margin: 100px auto 0;
  }
}