.isAdmin{
  display: none;
}
.overflow-visible {
  overflow: visible !important;
}
#chat-users-gallery {
  scrollbar-width: thin; /* Firefox */
}

#chat-users-gallery::-webkit-scrollbar {
  height: 8px;
}

#chat-users-gallery::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2);
  border-radius: 4px;
}

#chat-users-gallery::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0.05);
}

.rounded-circle{
  object-fit: cover;
  object-position: top;
}
.rounded-avatar {
  width: 70px;
  height: 70px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border-radius: 50px;
}
iframe {
  width: 100%;
  height: 100%;
  border: none;
}
#chat-container{
  background-size:contain;
}
#chatContainer > div:nth-child(1) {
  padding-top: 35px;
}
.one-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
  display: block;
}
.swal2-custom-close-button {
  display: none;
}
.swal2-top-left-close-button {
  position: absolute;
  top: 10px;
  left: 10px;
}
#introChat-none{
  overflow-y: scroll;
  background-color: rgba(255, 255, 255, 0.9);
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 120px;
  right: 10px;
  left: 10px;
}
.audio-controller {
  display: flex;
  align-items: center;
  color: white;
  border-radius: 20px;
  width: auto;
  justify-content: center;
  position: absolute;
  top: -11px;
  left: 60px;
  font-size: 12px;
}
.audio-controller button {
  border: none;
  cursor: pointer;
  color: rgb(165 164 164);
  font-size: 12px;
  width: 50px;
}
.h-100vh {
  height: 100vh;
}
.h-30vh {
  height: 30vh;
}
.gen-idea-container #swal2-html-container, .album-popup #swal2-html-container{
  border-radius: 40px 40px 0 0;
  padding: 0;
  width: 100%;
}
.gen-idea-container, .album-popup{
  border-radius: 40px 40px 0 0;
  background: linear-gradient(135deg, #1e1946, #1e1928c2, #24243e);
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.album-popup {
  background: linear-gradient(135deg, #1e1946, #1e1928c2, #24243e);
}
.gen-idea-container{
  background: linear-gradient(135deg, #1e1946, #1e1928c2, #24243e);
}
.gen-idea-container .swal2-close{
  right: 15px;
  border-radius: 50%;
  font-size: 31px;
  top: 10px;
}
.gen-idea-container .swal2-close {
  background: #9796963d;
}
.gen-idea-container .swal2-close {
  background: #9796963d;
}
em {
  font-size: 13px;
  color: #979393;
}
.text-short {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 150px; 
  display: inline-block;
}

.assistant-image-box img{
  width: 100%;
  border-radius: 5px;
  max-width: 200px;
  cursor: pointer;
}
.isLoading .fa-image{
  display: none;
}
.isLoading .fa-spin{
  display: inherit !important;
}
.custom-gradient-bg-no-animation{
  background: linear-gradient(90.9deg, #D2B8FF 2.74%, #8240FF 102.92%);
}
.custom-gradient-bg {
  background: linear-gradient(90.9deg, #D2B8FF 2.74%, #8240FF 102.92%);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease-in-out;
}

.custom-gradient-bg::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: radial-gradient(circle, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 80%);
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.5s ease-in-out;
  z-index: 0;
}

.custom-gradient-bg:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.custom-gradient-bg:hover {
  color: #fff;
}
.chatbot-info-card {
  height: 80vh;
  overflow-y: scroll;
}
.chatbot-info-card .swal-image.analyze {
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 25px !important;
}
.chatbot-image-chat{
  cursor: pointer;
}
.chatbot-category-button img {
  object-fit: cover;
  width: 70px !important;
  height: 70px;
  border-radius: 50%;
}
.assistant-chat-box{
  border-radius: 0px 15px 15px 15px;
  background-color: #151213b0;
  color: #fff;
}
.narration-container{
  font-size: 13px;
  color: #606060;
}
.chat-option-menu .dropdown-item{
  padding: 5px 15px;
}
.chat-option-menu li {
  padding: 3px 10px;
}
#chat-discovery h4{
  margin-bottom: 0px !important;
}
.message-container p {
  margin-bottom: 0;
}
.btn.ico-login-button {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn.ico-login-button img {
  width: 30px;
  margin-right: 10px;
}
.animated.fadeInDown .swal2-image{
  margin:0;
}
.animated.fadeInDown .swal2-close{
  border:0;
}
/* Custom animation for sliding in from the bottom */
.swal2-bottom-slide-in {
  animation: bottom-slide-in 0.5s;
}

.swal2-bottom-slide-out {
  animation: bottom-slide-out 0.5s;
}

@keyframes bottom-slide-in {
  0% {
      transform: translateY(100%);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes bottom-slide-out {
  0% {
      transform: translateY(0);
      opacity: 1;
  }
  100% {
      transform: translateY(100%);
      opacity: 0;
  }
}

.text-muted {
  color: #aeb0b4 !important;
}
.text-muted {
  font-weight: 300;
}
.scroll-horizontal {
  flex-wrap: nowrap;
  width: 100%;
  flex-direction: row;
  overflow-x: scroll;
}
.u-color-grad {
  background: linear-gradient(90.9deg, rgba(110, 32, 244, 0.5) 2.74%, #6E20F4 102.92%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-right: 6px;
  letter-spacing: 0;
  font-size: 54px;
  line-height: 1;
}
.onchat-off, .onchat-on{
  display: none;
}
.avatar{
  object-fit: cover;
  object-position: top;
  width: 32px;
}
.card-img-top.girls_avatar {
  object-fit: cover;
  object-position: top;
  width: 100%;  
  margin: auto;
  border-radius: 15px;
  height: 350px;
  padding: 0 5px;  
  background-position: top;
  background-size: cover;
}
.scroll-container {
display: flex;
flex-wrap: nowrap;
overflow-x: auto;
}
.scroll-container > * {
flex: 0 0 auto;
width: auto;
}
.category-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}
.category-button {
  margin: 5px;
}
.card-round-design .col-12{
  margin-top: 50px;
}
.card-round-design .col-12 .card .card-img-top{
  position: absolute;
  top: -50px;
  width: 100px;
  height: 100px;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 150px;
  object-fit: cover;
  object-position: top;
}
.card-round-design .col-12 .card .card-body{
  padding-top: 100px;
}
.card-round-design .col-10 .card .card-img-top{
  height: 270px;
  margin: auto;
  object-fit: cover;
  object-position: top;
}
.swal-image.analyze{
  object-fit: cover;
  object-position: top;
  width: auto !important;
  height: 200px !important;
  border-radius: 6px !important;
}
.chat-container {
  display: flex;
  overflow-x: auto;
  padding-bottom: 0px;
  padding-top: 0px;
}
.chat-card {
  flex: 0 0 auto;
  width: 30vw;
  margin-right: 15px;
}
.online-text {
  width: 95%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.character-short-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 13px;
}
.character-title{
  font-weight: 600;
  font-size: 16px;
  color: black;
}
.chat-container .card:hover {
  background: none !important;
}
@media (max-width: 600px) {
  #chat-container{
      background-size:cover;
  }
  .noscroll{
      display: block;
      overflow: hidden;
  }
  .top-img{
      width: 70%;
  }
  .card.chat-card {
      width: 330px;
  }
}
.intro-thumbnail{
  border-radius: 150px;
  margin-bottom: 10px;
  width: 100px;
  object-fit: cover;
  height: 100px;
  object-position: top;
}
.sidebar, .sidebar-history {
  height: 100vh;
  width: 260px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1034;
  background-color: #f5f5f5;
  transition: transform 0.3s ease;
  transform: translateX(0);
  overflow: scroll;
}
.sidebar.hidden ,.sidebar-history.hidden {
  transform: translateX(-260px);
}
.sidebar-history.shadow {
  z-index: 1035;
}
.content {
  margin-left: 260px;
  transition: margin-left 0.3s ease;
}
.content.collapsed {
  margin-left: 0;
}
nav.navbar {
  margin-left: 0;
  transition: margin-left 0.3s ease;
}
nav.navbar.move {
  margin-left: 260px;
}
.choice-container {
  text-wrap: nowrap;
  overflow: auto;
  padding: 15px 0px;
}
#startButton {
  border-radius: 10px;
  font-weight: 600;
  padding: 15px 0px;
}
#chatContainer {
  height: 100%;
  overflow-y: scroll;
}
.fade-content {
  height: 100%;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 10%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 10%);
}


#chat-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.card-header, .card-footer {
  flex-shrink: 0;
}
.card-body {
  flex-grow: 1;
  overflow-y: auto;
  position: relative;
}
.btn-flat-border {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #742af4;
  border: solid 2px #b58df9;
  border-radius: 3px;
  transition: .4s;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 18px;;
}
.dropdown-toggle::after {
  display:none !important;
}

.btn-flat-border:hover {
  background: #742af4;
  color: white;
}
#messages {
  padding: 10px;
  padding-bottom: 100px;
  border-radius: 5px;
  z-index: 1;
}
#chatInput {
  position: absolute;
  bottom: 0;
  width: 100%;
  right: 0;
  left: 0;
  background: linear-gradient(to top, white 40%, transparent 100%);
  z-index: 1000;
  padding: 10px;
}
#sendMessage,
#chatInput .load {
  border-left: 0 !important;
  border-radius: 0px 30px 30px 0px !important;
  box-shadow: none;
}
#gen-ideas{
  border-right: 0 !important;
  border-radius: 30px 0px 0px 30px !important;
  box-shadow: none;
}
#userMessage {
  border-radius: 0 !important;
  background-color: #f5f5f5;
  height: 50px;
  font-size: 14px;
  padding-left: 20px;
  resize: none;
}
#userMessage:focus {
  outline: none;
  box-shadow: none; /* If there is a box shadow applied on focus */
}
.user-chat{
  cursor: pointer;
}
.user-chat:hover{
  background-color: #f8f9fa;
}

.chat-list .thumb {
  margin-right: 0px;
}
.chat-list .thumb img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
  object-position: top;
  border-radius: 13px;
}
.chat-list.item:hover, .user-chat-history:hover {
  background-color: #c6c9cc99 !important;
}
.chat-list.item.active, .user-chat-history.active {
  background-color: #c6c9cc99 !important;
}
.chat-list .dropdown .dropdown-toggle, #chat-history .dropdown .dropdown-toggle{
  transform: rotate(90deg);
}
.chat-list .dropdown .dropdown-toggle, #chat-history .dropdown .dropdown-toggle{
  opacity: 1;
  pointer-events: 'none';
}
.online-text {
  width: 150px; 
  white-space: nowrap;
  overflow: hidden;
}
.lines-paragraph {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.chat-contain .card-body{
      width: 100%;
}
.swal-image{
  border-radius: 50px;
  object-fit: cover;
}
.img-gen-button {
  background-size: cover;
  border-radius: 50%;
  padding: 15px;
}

.liked i{
  color:red;
}
@media (max-width: 600px) {
  .chat-contain .card-body{
      width: 100%;
  }
  .content,
  nav.navbar.move {
      margin-left: 0px;
  }
}