<!DOCTYPE html>
<html lang="ja">
   {{> dashboard-header}}
<body>
    {{> dashboard-nav}}
    <style>
        .p-fv-copy__middle {
          background: linear-gradient(90.9deg, #D2B8FF 2.74%, #8240FF 102.92%);
          background-clip: border-box;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          margin-top: 15px;
        }
        /* Hero Image */
        /* Main Container */
        .pricing-container {
            margin: 0 auto;
            padding: 40px 20px;
            text-align: center;
        }

        /* Title Section */
        .pricing-title {
            font-size: 2em;
            margin-bottom: 20px;
        }

        .pricing-description {
            font-size: 1em;
            margin-bottom: 40px;
            color: #555;
        }
        /* Plan Switcher */
        .switch-button-container {
            margin-bottom: 20px;
        }

        .switch {
            position: relative;
            display: inline-block;
            width: 120px;
            height: 54px;
        }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #e4e4e4;
            -webkit-transition:.4s;
            transition:.4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 46px;
            width: 60px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition:.4s;
            transition:.4s;
        }

        input:checked +.slider {
            background-color: #e4e4e4;
        }

        input:focus +.slider {
            box-shadow: 0 0 1px #e4e4e4;
        }

        input:checked +.slider:before {
            -webkit-transform: translateX(50px);
            -ms-transform: translateX(50px);
            transform: translateX(50px);
        }

        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50px;
            background: linear-gradient(90.9deg, #D2B8FF 2.74%, #8240FF 102.92%);
        }

        .label {
            position: absolute;
            top: 15px;
            font-size: 16px;
            color: #666;
            font-weight: 600;
        }

        .label.monthly {
            left: 16px;
        }

        .label.yearly {
            right: 16px;
        }

        input:checked ~.label.yearly {
            color: #fff;
        }

        input:checked ~.label.monthly  {
            color: #666;
        }

        input:not(:checked) ~.label.yearly {
            color: #666;
        }

        input:not(:checked) ~.label.monthly  {
            color: #fff;
        }
        /* Plan Cards */
        .card-header.plan-header {
            border: 1px solid #8437f9;
            margin: 10px;
            border-radius: 5px;
            padding: 5px 10px;
            color: #8437f9;
        }
        .card-header.plan-header h2 {
            font-size: 21px;
            line-height: initial;
            font-weight: bold;
            margin: 0;
        }
        .plan-cards {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            gap: 20px;
        }
        .plan-card.best{
            border: 2px solid #9d68ff;
        }
        .plan-card {
            border: 1px solid #e0e0e0;
            border-radius: 8px;
            background-color: #fff;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            transition: box-shadow 0.3s ease;
        }

        .plan-card:hover {
            box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
        }

        .plan-header {
            background-color: #f7f7f7;
            padding: 20px;
            font-size: 1.5em;
            font-weight: bold;
        }

        .plan-price h3 {
            font-weight: 700;
            font-size: 1.8em;
            margin: 20px 0;
        }

        .plan-details {
            padding: 20px;
            text-align: left;
            font-size: 1.2em;
            line-height: 1.1;
            font-weight: 500;
        }
        .plan-details ul {
            list-style: none;
            padding: 0;
        }

        .plan-details li {
            margin-bottom: 10px;
        }
        .plan-button.btn.btn-lamix {
            background: linear-gradient(90.9deg, #D2B8FF 2.74%, #8240FF 102.92%);
        }
        .plan-button {
            display: block;
            margin: 20px auto;
            padding: 10px 30px;
            color: #fff;
            text-decoration: none;
            border-radius: 4px;
            transition: background-color 0.3s ease;
        }

        .plan-button:hover {
            background-color: #0056b3;
        }

        /* Contact & SNS Section */
        .contact-sns {
            padding: 20px;
            background-color: #f8f9fa;
            border-top: 1px solid #e0e0e0;
        }

        .contact-title {
            font-size: 1.5em;
            margin-bottom: 20px;
        }

        .contact-description {
            font-size: 1em;
            margin-bottom: 20px;
            color: #555;
        }

        .social-media {
            display: flex;
            justify-content: center;
            gap: 20px;
        }

        .social-media img {
            width: 100px;
            height: 100px;
            border-radius: 8px;
            transition: transform 0.3s ease;
        }

        .social-media img:hover {
            transform: scale(1.05);
        }
        
        @media (max-width: 600px) {
            .plan-details{
                font-size: 0.9em;
            }
        }
    </style>
<div class="hero d-flex justify-content-center align-items-center" style="background-image: url(/img/TOP.png); height: 500px; background-size: cover; background-position: center;">
    <div class="container text-center text-dark py-4 animate__animated animate__bounceIn" style="background-color:rgba(255, 255, 255, 0.89)">

        <div class="container d-flex justify-content-center align-items-center text-center px-0">
            <img src="/img/logo.webp" alt="" class="me-2" width="40px" height="40px">
            <span class="u-color-grad" style="font-size: 54px;font-weight:bold;">
                Lamix
            </span>
        </div>
        <p class="fs-3 fw-bold mt-3 animate__animated animate__fadeInUp">
            Discutez avec une petite amie IA unique<br> Générez facilement des images mignonnes
        </p>
        <div class="mt-4 animate__animated animate__fadeInUp animate__delay-1s">
            <a href="#pricing-container" class="btn custom-gradient-bg btn-lg fw-bold">Voir le plan illimité</a>
        </div>
    </div>
</div>

<div id="pricing-container" class="container pricing-container">
    <p class="pricing-description fs-5">
        Toutes les fonctionnalités, y compris le chat, la génération d'images et les suggestions de messages, sont disponibles sans limite. Elle inclut également un accès anticipé aux nouvelles fonctionnalités et des options de chat multiples. Découvrez des possibilités infinies avec l'IA dans ce plan.
    </p>
    <div class="switch-button-container">
        <label class="switch">
            <input type="checkbox" id="plan-switch">
            <span class="slider round"></span>
            <span class="label monthly">/Mois</span>
            <span class="label yearly" select>/An</span>
        </label>
    </div>
    <p>Profitez d'une offre encore plus avantageuse avec le plan annuel !</p>
    <div class="plan-cards-none d-flex m-0 px-1 container m-auto justify-content-center" style="overflow-x:scroll" id="planCards">
        <!-- Les cartes de plan seront insérées dynamiquement ici -->
    </div>
    <span style="font-size: 12px;">Méthodes de paiement sécurisées : <a href="https://stripe.com/jp/resources/more/secure-payment-systems-explained" target="_blank"><img src="/img/stripe-logo.png" style="height: 30px;width: auto;"></a> sont utilisées</span>
</div>

<style>
  footer{display: inline !important;}
</style>
  {{> dashboard-footer}}
<script src="https://js.stripe.com/v3/"></script>
<script src="/js/plan.js"></script>
</body>
</html>
